=begin
#Knetik Platform API Documentation Latest

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class AuthPermissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new permission
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [PermissionResource] :permission_resource The permission resource object
    # @return [PermissionResource]
    def create_permission_using_post(opts = {})
      data, _status_code, _headers = create_permission_using_post_with_http_info(opts)
      return data
    end

    # Create a new permission
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [PermissionResource] :permission_resource The permission resource object
    # @return [Array<(PermissionResource, Fixnum, Hash)>] PermissionResource data, response status code and response headers
    def create_permission_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthPermissionsApi.create_permission_using_post ..."
      end
      # resource path
      local_var_path = "/auth/permissions".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'permission_resource'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PermissionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthPermissionsApi#create_permission_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force If true, removes permission assigned to roles
    # @return [nil]
    def delete_permission_using_delete(permission, opts = {})
      delete_permission_using_delete_with_http_info(permission, opts)
      return nil
    end

    # Delete a permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force If true, removes permission assigned to roles
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_permission_using_delete_with_http_info(permission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthPermissionsApi.delete_permission_using_delete ..."
      end
      # verify the required parameter 'permission' is set
      fail ArgumentError, "Missing the required parameter 'permission' when calling AuthPermissionsApi.delete_permission_using_delete" if permission.nil?
      # resource path
      local_var_path = "/auth/permissions/{permission}".sub('{format}','json').sub('{' + 'permission' + '}', permission.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthPermissionsApi#delete_permission_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @return [PermissionResource]
    def get_permission_using_get(permission, opts = {})
      data, _status_code, _headers = get_permission_using_get_with_http_info(permission, opts)
      return data
    end

    # Get a single permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @return [Array<(PermissionResource, Fixnum, Hash)>] PermissionResource data, response status code and response headers
    def get_permission_using_get_with_http_info(permission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthPermissionsApi.get_permission_using_get ..."
      end
      # verify the required parameter 'permission' is set
      fail ArgumentError, "Missing the required parameter 'permission' when calling AuthPermissionsApi.get_permission_using_get" if permission.nil?
      # resource path
      local_var_path = "/auth/permissions/{permission}".sub('{format}','json').sub('{' + 'permission' + '}', permission.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PermissionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthPermissionsApi#get_permission_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search permissions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order a comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to 1)
    # @return [PagePermissionResource]
    def get_permission_using_get1(opts = {})
      data, _status_code, _headers = get_permission_using_get1_with_http_info(opts)
      return data
    end

    # List and search permissions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order a comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PagePermissionResource, Fixnum, Hash)>] PagePermissionResource data, response status code and response headers
    def get_permission_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthPermissionsApi.get_permission_using_get1 ..."
      end
      # resource path
      local_var_path = "/auth/permissions".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PagePermissionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthPermissionsApi#get_permission_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @option opts [PermissionResource] :permission_resource The permission resource object
    # @return [nil]
    def update_permission_using_put(permission, opts = {})
      update_permission_using_put_with_http_info(permission, opts)
      return nil
    end

    # Update a permission
    # 
    # @param permission The permission value
    # @param [Hash] opts the optional parameters
    # @option opts [PermissionResource] :permission_resource The permission resource object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_permission_using_put_with_http_info(permission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthPermissionsApi.update_permission_using_put ..."
      end
      # verify the required parameter 'permission' is set
      fail ArgumentError, "Missing the required parameter 'permission' when calling AuthPermissionsApi.update_permission_using_put" if permission.nil?
      # resource path
      local_var_path = "/auth/permissions/{permission}".sub('{format}','json').sub('{' + 'permission' + '}', permission.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'permission_resource'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthPermissionsApi#update_permission_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
