=begin
#Knetik Platform API Documentation Latest

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class DevicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a device
    # 
    # @param device device
    # @param [Hash] opts the optional parameters
    # @return [DeviceResource]
    def create_device_using_post(device, opts = {})
      data, _status_code, _headers = create_device_using_post_with_http_info(device, opts)
      return data
    end

    # Create a device
    # 
    # @param device device
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceResource, Fixnum, Hash)>] DeviceResource data, response status code and response headers
    def create_device_using_post_with_http_info(device, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DevicesApi.create_device_using_post ..."
      end
      # verify the required parameter 'device' is set
      fail ArgumentError, "Missing the required parameter 'device' when calling DevicesApi.create_device_using_post" if device.nil?
      # resource path
      local_var_path = "/devices".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(device)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeviceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#create_device_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a device
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_device_using_delete(id, opts = {})
      delete_device_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete a device
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_device_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DevicesApi.delete_device_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling DevicesApi.delete_device_using_delete" if id.nil?
      # resource path
      local_var_path = "/devices/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#delete_device_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single device
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [DeviceResource]
    def get_device_using_get(id, opts = {})
      data, _status_code, _headers = get_device_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single device
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceResource, Fixnum, Hash)>] DeviceResource data, response status code and response headers
    def get_device_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DevicesApi.get_device_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling DevicesApi.get_device_using_get" if id.nil?
      # resource path
      local_var_path = "/devices/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeviceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#get_device_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search devices
    # Get a list of devices with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_make Filter for devices with specified make
    # @option opts [String] :filter_model Filter for devices with specified model
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to 1)
    # @return [PageDeviceResource]
    def get_devices_using_get(opts = {})
      data, _status_code, _headers = get_devices_using_get_with_http_info(opts)
      return data
    end

    # List and search devices
    # Get a list of devices with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_make Filter for devices with specified make
    # @option opts [String] :filter_model Filter for devices with specified model
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageDeviceResource, Fixnum, Hash)>] PageDeviceResource data, response status code and response headers
    def get_devices_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DevicesApi.get_devices_using_get ..."
      end
      # resource path
      local_var_path = "/devices".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_make'] = opts[:'filter_make'] if !opts[:'filter_make'].nil?
      query_params[:'filter_model'] = opts[:'filter_model'] if !opts[:'filter_model'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageDeviceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#get_devices_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a device
    # 
    # @param device device
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_device_using_put(device, id, opts = {})
      update_device_using_put_with_http_info(device, id, opts)
      return nil
    end

    # Update a device
    # 
    # @param device device
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_device_using_put_with_http_info(device, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DevicesApi.update_device_using_put ..."
      end
      # verify the required parameter 'device' is set
      fail ArgumentError, "Missing the required parameter 'device' when calling DevicesApi.update_device_using_put" if device.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling DevicesApi.update_device_using_put" if id.nil?
      # resource path
      local_var_path = "/devices/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(device)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#update_device_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
