=begin
#Knetik Platform API Documentation Latest

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://demo.sandbox.knetikcloud.com

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class GamificationTriviaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add an answer to a question
    # 
    # @param question_id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [AnswerResource] :answer The new answer
    # @return [AnswerResource]
    def add_answers_using_post(question_id, opts = {})
      data, _status_code, _headers = add_answers_using_post_with_http_info(question_id, opts)
      return data
    end

    # Add an answer to a question
    # 
    # @param question_id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [AnswerResource] :answer The new answer
    # @return [Array<(AnswerResource, Fixnum, Hash)>] AnswerResource data, response status code and response headers
    def add_answers_using_post_with_http_info(question_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.add_answers_using_post ..."
      end
      # verify the required parameter 'question_id' is set
      fail ArgumentError, "Missing the required parameter 'question_id' when calling GamificationTriviaApi.add_answers_using_post" if question_id.nil?
      # resource path
      local_var_path = "/trivia/questions/{question_id}/answers".sub('{format}','json').sub('{' + 'question_id' + '}', question_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'answer'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AnswerResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#add_answers_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a tag to a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag The new tag
    # @return [nil]
    def add_tag_using_post(id, opts = {})
      add_tag_using_post_with_http_info(id, opts)
      return nil
    end

    # Add a tag to a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag The new tag
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_tag_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.add_tag_using_post ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.add_tag_using_post" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}/tags".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'tag'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#add_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a tag to a batch of questions
    # All questions that dont't have the tag and match filters will have it added. The returned number is the number of questions updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag The tag to add
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Integer]
    def batch_add_tag_using_post(opts = {})
      data, _status_code, _headers = batch_add_tag_using_post_with_http_info(opts)
      return data
    end

    # Add a tag to a batch of questions
    # All questions that dont&#39;t have the tag and match filters will have it added. The returned number is the number of questions updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag The tag to add
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def batch_add_tag_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.batch_add_tag_using_post ..."
      end
      if opts[:'filter_type'] && !['TEXT', 'IMAGE', 'VIDEO', 'AUDIO'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of TEXT, IMAGE, VIDEO, AUDIO'
      end
      # resource path
      local_var_path = "/trivia/questions/tags".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_idset'] = opts[:'filter_idset'] if !opts[:'filter_idset'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tag'] = opts[:'filter_tag'] if !opts[:'filter_tag'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_type'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter_published'] = opts[:'filter_published'] if !opts[:'filter_published'].nil?
      query_params[:'filter_import_id'] = opts[:'filter_import_id'] if !opts[:'filter_import_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'tag'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#batch_add_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a tag from a batch of questions
    # ll questions that have the tag and match filters will have it removed. The returned number is the number of questions updated.
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Integer]
    def batch_remove_tag_using_delete(tag, opts = {})
      data, _status_code, _headers = batch_remove_tag_using_delete_with_http_info(tag, opts)
      return data
    end

    # Remove a tag from a batch of questions
    # ll questions that have the tag and match filters will have it removed. The returned number is the number of questions updated.
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def batch_remove_tag_using_delete_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.batch_remove_tag_using_delete ..."
      end
      # verify the required parameter 'tag' is set
      fail ArgumentError, "Missing the required parameter 'tag' when calling GamificationTriviaApi.batch_remove_tag_using_delete" if tag.nil?
      # resource path
      local_var_path = "/trivia/questions/tags/{tag}".sub('{format}','json').sub('{' + 'tag' + '}', tag.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_idset'] = opts[:'filter_idset'] if !opts[:'filter_idset'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tag'] = opts[:'filter_tag'] if !opts[:'filter_tag'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_type'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter_published'] = opts[:'filter_published'] if !opts[:'filter_published'].nil?
      query_params[:'filter_import_id'] = opts[:'filter_import_id'] if !opts[:'filter_import_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#batch_remove_tag_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk update questions
    # Will update all questions that match filters used (or all questions in system if no filters used). Body should match a question resource with only those properties you wish to set. Null values will be ignored. Returned number is how many were updated.
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question New values for a set of question fields
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Integer]
    def bulk_update_using_put(opts = {})
      data, _status_code, _headers = bulk_update_using_put_with_http_info(opts)
      return data
    end

    # Bulk update questions
    # Will update all questions that match filters used (or all questions in system if no filters used). Body should match a question resource with only those properties you wish to set. Null values will be ignored. Returned number is how many were updated.
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question New values for a set of question fields
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def bulk_update_using_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.bulk_update_using_put ..."
      end
      # resource path
      local_var_path = "/trivia/questions".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_idset'] = opts[:'filter_idset'] if !opts[:'filter_idset'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_type'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter_published'] = opts[:'filter_published'] if !opts[:'filter_published'].nil?
      query_params[:'filter_import_id'] = opts[:'filter_import_id'] if !opts[:'filter_import_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'question'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#bulk_update_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count questions based on filters.
    # This is also provided by the list endpoint so you don't need to call this for pagination purposes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @return [Integer]
    def count_questions_using_get(opts = {})
      data, _status_code, _headers = count_questions_using_get_with_http_info(opts)
      return data
    end

    # Count questions based on filters.
    # This is also provided by the list endpoint so you don&#39;t need to call this for pagination purposes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tag Filter for questions with specified tag
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def count_questions_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.count_questions_using_get ..."
      end
      # resource path
      local_var_path = "/trivia/questions/count".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_idset'] = opts[:'filter_idset'] if !opts[:'filter_idset'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tag'] = opts[:'filter_tag'] if !opts[:'filter_tag'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_type'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter_published'] = opts[:'filter_published'] if !opts[:'filter_published'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#count_questions_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a question template
    # Question templates define a type of question and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionTemplateResource] :question_template_resource The question template resource object
    # @return [QuestionTemplateResource]
    def create_question_template_using_post(opts = {})
      data, _status_code, _headers = create_question_template_using_post_with_http_info(opts)
      return data
    end

    # Create a question template
    # Question templates define a type of question and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionTemplateResource] :question_template_resource The question template resource object
    # @return [Array<(QuestionTemplateResource, Fixnum, Hash)>] QuestionTemplateResource data, response status code and response headers
    def create_question_template_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.create_question_template_using_post ..."
      end
      # resource path
      local_var_path = "/trivia/questions/templates".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'question_template_resource'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QuestionTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#create_question_template_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a question
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question The new question
    # @return [QuestionResource]
    def create_question_using_post(opts = {})
      data, _status_code, _headers = create_question_using_post_with_http_info(opts)
      return data
    end

    # Create a question
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question The new question
    # @return [Array<(QuestionResource, Fixnum, Hash)>] QuestionResource data, response status code and response headers
    def create_question_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.create_question_using_post ..."
      end
      # resource path
      local_var_path = "/trivia/questions".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'question'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QuestionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#create_question_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an import job
    # Set up a job to import a set of trivia questions from a cvs file at a remote url. the file will be validated asynchronously but will not be processed until started manually with the process endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [ImportJobResource] :request The new import job
    # @return [ImportJobResource]
    def create_using_post(opts = {})
      data, _status_code, _headers = create_using_post_with_http_info(opts)
      return data
    end

    # Create an import job
    # Set up a job to import a set of trivia questions from a cvs file at a remote url. the file will be validated asynchronously but will not be processed until started manually with the process endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [ImportJobResource] :request The new import job
    # @return [Array<(ImportJobResource, Fixnum, Hash)>] ImportJobResource data, response status code and response headers
    def create_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.create_using_post ..."
      end
      # resource path
      local_var_path = "/trivia/import".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ImportJobResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#create_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a question template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_question_template_using_delete(id, opts = {})
      delete_question_template_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete a question template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_question_template_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.delete_question_template_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.delete_question_template_using_delete" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#delete_question_template_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_question_using_delete(id, opts = {})
      delete_question_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_question_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.delete_question_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.delete_question_using_delete" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#delete_question_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an import job
    # Also deletes all questions that were imported by it
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_using_delete(id, opts = {})
      delete_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete an import job
    # Also deletes all questions that were imported by it
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.delete_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.delete_using_delete" if id.nil?
      # resource path
      local_var_path = "/trivia/import/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#delete_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an answer for a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @return [AnswerResource]
    def get_answer_using_get(question_id, id, opts = {})
      data, _status_code, _headers = get_answer_using_get_with_http_info(question_id, id, opts)
      return data
    end

    # Get an answer for a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnswerResource, Fixnum, Hash)>] AnswerResource data, response status code and response headers
    def get_answer_using_get_with_http_info(question_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_answer_using_get ..."
      end
      # verify the required parameter 'question_id' is set
      fail ArgumentError, "Missing the required parameter 'question_id' when calling GamificationTriviaApi.get_answer_using_get" if question_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.get_answer_using_get" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{question_id}/answers/{id}".sub('{format}','json').sub('{' + 'question_id' + '}', question_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AnswerResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_answer_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the answers available for a question
    # 
    # @param question_id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<AnswerResource>]
    def get_answers_using_get(question_id, opts = {})
      data, _status_code, _headers = get_answers_using_get_with_http_info(question_id, opts)
      return data
    end

    # List the answers available for a question
    # 
    # @param question_id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AnswerResource>, Fixnum, Hash)>] Array<AnswerResource> data, response status code and response headers
    def get_answers_using_get_with_http_info(question_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_answers_using_get ..."
      end
      # verify the required parameter 'question_id' is set
      fail ArgumentError, "Missing the required parameter 'question_id' when calling GamificationTriviaApi.get_answers_using_get" if question_id.nil?
      # resource path
      local_var_path = "/trivia/questions/{question_id}/answers".sub('{format}','json').sub('{' + 'question_id' + '}', question_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AnswerResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_answers_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of import job
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_vendor Filter for jobs by vendor id
    # @option opts [String] :filter_category Filter for jobs by category id
    # @option opts [String] :filter_name Filter for jobs which name *STARTS* with the given string
    # @option opts [String] :filter_status Filter for jobs that are in a specific set of statuses (comma separated)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceImportJobResource]
    def get_list_using_get1(opts = {})
      data, _status_code, _headers = get_list_using_get1_with_http_info(opts)
      return data
    end

    # Get a list of import job
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_vendor Filter for jobs by vendor id
    # @option opts [String] :filter_category Filter for jobs by category id
    # @option opts [String] :filter_name Filter for jobs which name *STARTS* with the given string
    # @option opts [String] :filter_status Filter for jobs that are in a specific set of statuses (comma separated)
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceImportJobResource, Fixnum, Hash)>] PageResourceImportJobResource data, response status code and response headers
    def get_list_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_list_using_get1 ..."
      end
      # resource path
      local_var_path = "/trivia/import".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_vendor'] = opts[:'filter_vendor'] if !opts[:'filter_vendor'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_status'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceImportJobResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_list_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single question template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [QuestionTemplateResource]
    def get_question_template_using_get(id, opts = {})
      data, _status_code, _headers = get_question_template_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single question template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuestionTemplateResource, Fixnum, Hash)>] QuestionTemplateResource data, response status code and response headers
    def get_question_template_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_question_template_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.get_question_template_using_get" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QuestionTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_question_template_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search question templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceQuestionTemplateResource]
    def get_question_templates_using_get(opts = {})
      data, _status_code, _headers = get_question_templates_using_get_with_http_info(opts)
      return data
    end

    # List and search question templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceQuestionTemplateResource, Fixnum, Hash)>] PageResourceQuestionTemplateResource data, response status code and response headers
    def get_question_templates_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_question_templates_using_get ..."
      end
      # resource path
      local_var_path = "/trivia/questions/templates".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceQuestionTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_question_templates_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [QuestionResource]
    def get_question_using_get(id, opts = {})
      data, _status_code, _headers = get_question_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuestionResource, Fixnum, Hash)>] QuestionResource data, response status code and response headers
    def get_question_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_question_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.get_question_using_get" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QuestionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_question_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List question deltas in ascending order of updated date
    # The 'since' parameter is important to avoid getting a full list of all questions. Implementors should make sure they pass the updated date of the last resource loaded, not the date of the last request, in order to avoid gaps
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since Timestamp in seconds
    # @return [Array<DeltaResource>]
    def get_questions_delta_using_get(opts = {})
      data, _status_code, _headers = get_questions_delta_using_get_with_http_info(opts)
      return data
    end

    # List question deltas in ascending order of updated date
    # The &#39;since&#39; parameter is important to avoid getting a full list of all questions. Implementors should make sure they pass the updated date of the last resource loaded, not the date of the last request, in order to avoid gaps
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since Timestamp in seconds
    # @return [Array<(Array<DeltaResource>, Fixnum, Hash)>] Array<DeltaResource> data, response status code and response headers
    def get_questions_delta_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_questions_delta_using_get ..."
      end
      # resource path
      local_var_path = "/trivia/questions/delta".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DeltaResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_questions_delta_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search questions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [PageResourceQuestionResource]
    def get_questions_using_get(opts = {})
      data, _status_code, _headers = get_questions_using_get_with_http_info(opts)
      return data
    end

    # List and search questions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @option opts [String] :filter_search Filter for documents whose question, answers or tags contains provided string
    # @option opts [String] :filter_idset Filter for documents whose id is in the comma separated list provided
    # @option opts [String] :filter_category Filter for questions with specified category, by id
    # @option opts [String] :filter_tagset Filter for questions with specified tags (separated by comma)
    # @option opts [String] :filter_type Filter for questions with specified type.  Allowable values: (&#39;TEXT&#39;, &#39;IMAGE&#39;, &#39;VIDEO&#39;, &#39;AUDIO&#39;)
    # @option opts [BOOLEAN] :filter_published Filter for questions currenctly published or not
    # @option opts [Integer] :filter_import_id Filter for questions from a specific import job
    # @return [Array<(PageResourceQuestionResource, Fixnum, Hash)>] PageResourceQuestionResource data, response status code and response headers
    def get_questions_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_questions_using_get ..."
      end
      # resource path
      local_var_path = "/trivia/questions".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_idset'] = opts[:'filter_idset'] if !opts[:'filter_idset'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_type'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter_published'] = opts[:'filter_published'] if !opts[:'filter_published'].nil?
      query_params[:'filter_import_id'] = opts[:'filter_import_id'] if !opts[:'filter_import_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceQuestionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_questions_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the tags for a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_tags_using_get1(id, opts = {})
      data, _status_code, _headers = get_tags_using_get1_with_http_info(id, opts)
      return data
    end

    # List the tags for a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_tags_using_get1_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_tags_using_get1 ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.get_tags_using_get1" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}/tags".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_tags_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search tags by the beginning of the string
    # For performance reasons, search & category filters are mutually exclusive. If category is specified, search filter will be ignored in order to do fast matches for typeahead.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for tags starting with the given text
    # @option opts [String] :filter_category Filter for tags on questions from a specific category
    # @option opts [Integer] :filter_import_id Filter for tags on questions from a specific import job
    # @return [Collectionstring]
    def get_tags_using_get2(opts = {})
      data, _status_code, _headers = get_tags_using_get2_with_http_info(opts)
      return data
    end

    # List and search tags by the beginning of the string
    # For performance reasons, search &amp; category filters are mutually exclusive. If category is specified, search filter will be ignored in order to do fast matches for typeahead.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_search Filter for tags starting with the given text
    # @option opts [String] :filter_category Filter for tags on questions from a specific category
    # @option opts [Integer] :filter_import_id Filter for tags on questions from a specific import job
    # @return [Array<(Collectionstring, Fixnum, Hash)>] Collectionstring data, response status code and response headers
    def get_tags_using_get2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_tags_using_get2 ..."
      end
      # resource path
      local_var_path = "/trivia/tags".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_search'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_import_id'] = opts[:'filter_import_id'] if !opts[:'filter_import_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Collectionstring')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_tags_using_get2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an import job
    # 
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @return [ImportJobResource]
    def get_using_get(id, opts = {})
      data, _status_code, _headers = get_using_get_with_http_info(id, opts)
      return data
    end

    # Get an import job
    # 
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportJobResource, Fixnum, Hash)>] ImportJobResource data, response status code and response headers
    def get_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.get_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.get_using_get" if id.nil?
      # resource path
      local_var_path = "/trivia/import/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ImportJobResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#get_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an answer from a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_answers_using_delete(question_id, id, opts = {})
      remove_answers_using_delete_with_http_info(question_id, id, opts)
      return nil
    end

    # Remove an answer from a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_answers_using_delete_with_http_info(question_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.remove_answers_using_delete ..."
      end
      # verify the required parameter 'question_id' is set
      fail ArgumentError, "Missing the required parameter 'question_id' when calling GamificationTriviaApi.remove_answers_using_delete" if question_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.remove_answers_using_delete" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{question_id}/answers/{id}".sub('{format}','json').sub('{' + 'question_id' + '}', question_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#remove_answers_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a tag from a question
    # 
    # @param id The id of the question
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_tag_using_delete(id, tag, opts = {})
      remove_tag_using_delete_with_http_info(id, tag, opts)
      return nil
    end

    # Remove a tag from a question
    # 
    # @param id The id of the question
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_tag_using_delete_with_http_info(id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.remove_tag_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.remove_tag_using_delete" if id.nil?
      # verify the required parameter 'tag' is set
      fail ArgumentError, "Missing the required parameter 'tag' when calling GamificationTriviaApi.remove_tag_using_delete" if tag.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}/tags/{tag}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s).sub('{' + 'tag' + '}', tag.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#remove_tag_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start processing an import job
    # Will process the CSV file and add new questions asynchronously. The status of the job must be 'VALID'.
    # @param id The id of the job
    # @param publish_now Whether the new questions should be published live immediately
    # @param [Hash] opts the optional parameters
    # @return [ImportJobResource]
    def start_process_using_post(id, publish_now, opts = {})
      data, _status_code, _headers = start_process_using_post_with_http_info(id, publish_now, opts)
      return data
    end

    # Start processing an import job
    # Will process the CSV file and add new questions asynchronously. The status of the job must be &#39;VALID&#39;.
    # @param id The id of the job
    # @param publish_now Whether the new questions should be published live immediately
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportJobResource, Fixnum, Hash)>] ImportJobResource data, response status code and response headers
    def start_process_using_post_with_http_info(id, publish_now, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.start_process_using_post ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.start_process_using_post" if id.nil?
      # verify the required parameter 'publish_now' is set
      fail ArgumentError, "Missing the required parameter 'publish_now' when calling GamificationTriviaApi.start_process_using_post" if publish_now.nil?
      # resource path
      local_var_path = "/trivia/import/{id}/process".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'publish_now'] = publish_now

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ImportJobResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#start_process_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an answer for a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @option opts [AnswerResource] :answer The updated answer
    # @return [nil]
    def update_answer_using_put(question_id, id, opts = {})
      update_answer_using_put_with_http_info(question_id, id, opts)
      return nil
    end

    # Update an answer for a question
    # 
    # @param question_id The id of the question
    # @param id The id of the answer
    # @param [Hash] opts the optional parameters
    # @option opts [AnswerResource] :answer The updated answer
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_answer_using_put_with_http_info(question_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.update_answer_using_put ..."
      end
      # verify the required parameter 'question_id' is set
      fail ArgumentError, "Missing the required parameter 'question_id' when calling GamificationTriviaApi.update_answer_using_put" if question_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.update_answer_using_put" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{question_id}/answers/{id}".sub('{format}','json').sub('{' + 'question_id' + '}', question_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'answer'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#update_answer_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a question template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionTemplateResource] :question_template_resource The question template resource object
    # @return [nil]
    def update_question_template_using_put(id, opts = {})
      update_question_template_using_put_with_http_info(id, opts)
      return nil
    end

    # Update a question template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionTemplateResource] :question_template_resource The question template resource object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_question_template_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.update_question_template_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.update_question_template_using_put" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'question_template_resource'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#update_question_template_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question The updated question
    # @return [QuestionResource]
    def update_question_using_put(id, opts = {})
      data, _status_code, _headers = update_question_using_put_with_http_info(id, opts)
      return data
    end

    # Update a question
    # 
    # @param id The id of the question
    # @param [Hash] opts the optional parameters
    # @option opts [QuestionResource] :question The updated question
    # @return [Array<(QuestionResource, Fixnum, Hash)>] QuestionResource data, response status code and response headers
    def update_question_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.update_question_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.update_question_using_put" if id.nil?
      # resource path
      local_var_path = "/trivia/questions/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'question'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QuestionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#update_question_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an import job
    # Changes should be made before process is started for there to be any effect.
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @option opts [ImportJobResource] :request The updated job
    # @return [ImportJobResource]
    def update_using_put(id, opts = {})
      data, _status_code, _headers = update_using_put_with_http_info(id, opts)
      return data
    end

    # Update an import job
    # Changes should be made before process is started for there to be any effect.
    # @param id The id of the job
    # @param [Hash] opts the optional parameters
    # @option opts [ImportJobResource] :request The updated job
    # @return [Array<(ImportJobResource, Fixnum, Hash)>] ImportJobResource data, response status code and response headers
    def update_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationTriviaApi.update_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GamificationTriviaApi.update_using_put" if id.nil?
      # resource path
      local_var_path = "/trivia/import/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ImportJobResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationTriviaApi#update_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
