=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class LogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a user log entry
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [UserActionLog] :log_entry The user log entry to be added
    # @return [nil]
    def add_user_log(opts = {})
      add_user_log_with_http_info(opts)
      return nil
    end

    # Add a user log entry
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [UserActionLog] :log_entry The user log entry to be added
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_user_log_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.add_user_log ..."
      end
      # resource path
      local_var_path = "/audit/logs"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'log_entry'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#add_user_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an existing BRE event log entry by id
    # 
    # @param id The BRE event log entry id
    # @param [Hash] opts the optional parameters
    # @return [BreEventLog]
    def get_bre_event_log(id, opts = {})
      data, _status_code, _headers = get_bre_event_log_with_http_info(id, opts)
      return data
    end

    # Get an existing BRE event log entry by id
    # 
    # @param id The BRE event log entry id
    # @param [Hash] opts the optional parameters
    # @return [Array<(BreEventLog, Fixnum, Hash)>] BreEventLog data, response status code and response headers
    def get_bre_event_log_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_bre_event_log ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.get_bre_event_log" if id.nil?
      # resource path
      local_var_path = "/bre/logs/event-log/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BreEventLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_bre_event_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of BRE event log entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the event log start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_event_name Filter event logs by event name
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:DESC)
    # @return [PageResourceBreEventLog]
    def get_bre_event_logs(opts = {})
      data, _status_code, _headers = get_bre_event_logs_with_http_info(opts)
      return data
    end

    # Returns a list of BRE event log entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the event log start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_event_name Filter event logs by event name
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceBreEventLog, Fixnum, Hash)>] PageResourceBreEventLog data, response status code and response headers
    def get_bre_event_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_bre_event_logs ..."
      end
      # resource path
      local_var_path = "/bre/logs/event-log"

      # query parameters
      query_params = {}
      query_params[:'filter_start_date'] = opts[:'filter_start_date'] if !opts[:'filter_start_date'].nil?
      query_params[:'filter_event_name'] = opts[:'filter_event_name'] if !opts[:'filter_event_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceBreEventLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_bre_event_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an existing forward log entry by id
    # 
    # @param id The forward log entry id
    # @param [Hash] opts the optional parameters
    # @return [ForwardLog]
    def get_bre_forward_log(id, opts = {})
      data, _status_code, _headers = get_bre_forward_log_with_http_info(id, opts)
      return data
    end

    # Get an existing forward log entry by id
    # 
    # @param id The forward log entry id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwardLog, Fixnum, Hash)>] ForwardLog data, response status code and response headers
    def get_bre_forward_log_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_bre_forward_log ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.get_bre_forward_log" if id.nil?
      # resource path
      local_var_path = "/bre/logs/forward-log/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ForwardLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_bre_forward_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of forward log entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the log end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [Integer] :filter_status_code Filter forward logs by http status code
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:DESC)
    # @return [PageResourceForwardLog]
    def get_bre_forward_logs(opts = {})
      data, _status_code, _headers = get_bre_forward_logs_with_http_info(opts)
      return data
    end

    # Returns a list of forward log entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the log end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [Integer] :filter_status_code Filter forward logs by http status code
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceForwardLog, Fixnum, Hash)>] PageResourceForwardLog data, response status code and response headers
    def get_bre_forward_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_bre_forward_logs ..."
      end
      # resource path
      local_var_path = "/bre/logs/forward-log"

      # query parameters
      query_params = {}
      query_params[:'filter_start_date'] = opts[:'filter_start_date'] if !opts[:'filter_start_date'].nil?
      query_params[:'filter_end_date'] = opts[:'filter_end_date'] if !opts[:'filter_end_date'].nil?
      query_params[:'filter_status_code'] = opts[:'filter_status_code'] if !opts[:'filter_status_code'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceForwardLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_bre_forward_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a user log entry by id
    # 
    # @param id The user log entry id
    # @param [Hash] opts the optional parameters
    # @return [UserActionLog]
    def get_user_log(id, opts = {})
      data, _status_code, _headers = get_user_log_with_http_info(id, opts)
      return data
    end

    # Returns a user log entry by id
    # 
    # @param id The user log entry id
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserActionLog, Fixnum, Hash)>] UserActionLog data, response status code and response headers
    def get_user_log_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_user_log ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.get_user_log" if id.nil?
      # resource path
      local_var_path = "/audit/logs/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserActionLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_user_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a page of user logs entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_user Filter for actions taken by a specific user by id
    # @option opts [String] :filter_action_name Filter for actions of a specific name
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUserActionLog]
    def get_user_logs(opts = {})
      data, _status_code, _headers = get_user_logs_with_http_info(opts)
      return data
    end

    # Returns a page of user logs entries
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_user Filter for actions taken by a specific user by id
    # @option opts [String] :filter_action_name Filter for actions of a specific name
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUserActionLog, Fixnum, Hash)>] PageResourceUserActionLog data, response status code and response headers
    def get_user_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogsApi.get_user_logs ..."
      end
      # resource path
      local_var_path = "/audit/logs"

      # query parameters
      query_params = {}
      query_params[:'filter_user'] = opts[:'filter_user'] if !opts[:'filter_user'].nil?
      query_params[:'filter_action_name'] = opts[:'filter_action_name'] if !opts[:'filter_action_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserActionLog')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_user_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
