=begin
#Knetik Platform API Documentation Latest

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://demo.sandbox.knetikcloud.com

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class PaymentsStripeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a Stripe payment method for a user
    # Stores customer information and creates a payment method that can be used to pay invoices through the payments endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [StripeCreatePaymentMethod] :request The request to create a Stripe customer with payment info
    # @return [PaymentMethodResource]
    def create_customer_using_post1(opts = {})
      data, _status_code, _headers = create_customer_using_post1_with_http_info(opts)
      return data
    end

    # Create a Stripe payment method for a user
    # Stores customer information and creates a payment method that can be used to pay invoices through the payments endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [StripeCreatePaymentMethod] :request The request to create a Stripe customer with payment info
    # @return [Array<(PaymentMethodResource, Fixnum, Hash)>] PaymentMethodResource data, response status code and response headers
    def create_customer_using_post1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PaymentsStripeApi.create_customer_using_post1 ..."
      end
      # resource path
      local_var_path = "/payment/provider/stripe/payment-methods".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PaymentMethodResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsStripeApi#create_customer_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pay with a single use token
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [StripePaymentRequest] :request The request to pay an invoice
    # @return [nil]
    def pay_invoice_using_post1(opts = {})
      pay_invoice_using_post1_with_http_info(opts)
      return nil
    end

    # Pay with a single use token
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [StripePaymentRequest] :request The request to pay an invoice
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def pay_invoice_using_post1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PaymentsStripeApi.pay_invoice_using_post1 ..."
      end
      # resource path
      local_var_path = "/payment/provider/stripe/payments".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsStripeApi#pay_invoice_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
