=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class ReportingUsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Returns aggregated endpoint usage information by day
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_day(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_day_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by day
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_day_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_day ..."
      end
      # verify the required parameter 'start_date' is set
      fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_day" if start_date.nil?
      # verify the required parameter 'end_date' is set
      fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_day" if end_date.nil?
      # resource path
      local_var_path = "/reporting/usage/day".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_day\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by hour
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_hour(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_hour_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by hour
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_hour_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_hour ..."
      end
      # verify the required parameter 'start_date' is set
      fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_hour" if start_date.nil?
      # verify the required parameter 'end_date' is set
      fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_hour" if end_date.nil?
      # resource path
      local_var_path = "/reporting/usage/hour".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_hour\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by minute
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_minute(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_minute_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by minute
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_minute_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_minute ..."
      end
      # verify the required parameter 'start_date' is set
      fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_minute" if start_date.nil?
      # verify the required parameter 'end_date' is set
      fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_minute" if end_date.nil?
      # resource path
      local_var_path = "/reporting/usage/minute".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_minute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by month
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_month(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_month_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by month
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_month_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_month ..."
      end
      # verify the required parameter 'start_date' is set
      fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_month" if start_date.nil?
      # verify the required parameter 'end_date' is set
      fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_month" if end_date.nil?
      # resource path
      local_var_path = "/reporting/usage/month".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_month\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by year
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_year(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_year_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by year
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_year_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_year ..."
      end
      # verify the required parameter 'start_date' is set
      fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_year" if start_date.nil?
      # verify the required parameter 'end_date' is set
      fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_year" if end_date.nil?
      # resource path
      local_var_path = "/reporting/usage/year".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
