=begin
#Knetik Platform API Documentation Latest

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://demo.sandbox.knetikcloud.com

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class StoreVendorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a vendor
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VendorResource] :vendor The vendor
    # @return [VendorResource]
    def create_vendor_using_post(opts = {})
      data, _status_code, _headers = create_vendor_using_post_with_http_info(opts)
      return data
    end

    # Create a vendor
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VendorResource] :vendor The vendor
    # @return [Array<(VendorResource, Fixnum, Hash)>] VendorResource data, response status code and response headers
    def create_vendor_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StoreVendorsApi.create_vendor_using_post ..."
      end
      # resource path
      local_var_path = "/vendors".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'vendor'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VendorResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreVendorsApi#create_vendor_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vendor_using_delete(id, opts = {})
      delete_vendor_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete a vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_vendor_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StoreVendorsApi.delete_vendor_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling StoreVendorsApi.delete_vendor_using_delete" if id.nil?
      # resource path
      local_var_path = "/vendors/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreVendorsApi#delete_vendor_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @return [VendorResource]
    def get_vendor_using_get(id, opts = {})
      data, _status_code, _headers = get_vendor_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @return [Array<(VendorResource, Fixnum, Hash)>] VendorResource data, response status code and response headers
    def get_vendor_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StoreVendorsApi.get_vendor_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling StoreVendorsApi.get_vendor_using_get" if id.nil?
      # resource path
      local_var_path = "/vendors/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VendorResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreVendorsApi#get_vendor_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search vendors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filters vendors by name starting with the text provided in the filter
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceVendorResource]
    def get_vendors_using_get(opts = {})
      data, _status_code, _headers = get_vendors_using_get_with_http_info(opts)
      return data
    end

    # List and search vendors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filters vendors by name starting with the text provided in the filter
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceVendorResource, Fixnum, Hash)>] PageResourceVendorResource data, response status code and response headers
    def get_vendors_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StoreVendorsApi.get_vendors_using_get ..."
      end
      # resource path
      local_var_path = "/vendors".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceVendorResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreVendorsApi#get_vendors_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @option opts [VendorResource] :vendor The vendor
    # @return [nil]
    def update_vendor_using_put(id, opts = {})
      update_vendor_using_put_with_http_info(id, opts)
      return nil
    end

    # Update a vendor
    # 
    # @param id The id of the vendor
    # @param [Hash] opts the optional parameters
    # @option opts [VendorResource] :vendor The vendor
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_vendor_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StoreVendorsApi.update_vendor_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling StoreVendorsApi.update_vendor_using_put" if id.nil?
      # resource path
      local_var_path = "/vendors/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'vendor'])
      auth_names = ['knetik_oauth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreVendorsApi#update_vendor_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
