=begin
#Knetik Platform API Documentation Latest

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://demo.sandbox.knetikcloud.com

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class UsersInventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Adds an item to the user inventory
    # The inventory is fulfilled asynchronously UNLESS the invoice is explicitely skipped. Depending on the use case, it might require the client to verify that the entitlement was added after the fact or configure a BRE rule to get a notification in real time
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UserInventoryAddRequest] :user_inventory_add_request The user inventory add request object
    # @return [InvoiceResource]
    def add_item_using_post1(id, opts = {})
      data, _status_code, _headers = add_item_using_post1_with_http_info(id, opts)
      return data
    end

    # Adds an item to the user inventory
    # The inventory is fulfilled asynchronously UNLESS the invoice is explicitely skipped. Depending on the use case, it might require the client to verify that the entitlement was added after the fact or configure a BRE rule to get a notification in real time
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UserInventoryAddRequest] :user_inventory_add_request The user inventory add request object
    # @return [Array<(InvoiceResource, Fixnum, Hash)>] InvoiceResource data, response status code and response headers
    def add_item_using_post1_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.add_item_using_post1 ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.add_item_using_post1" if id.nil?
      # resource path
      local_var_path = "/users/{id}/inventory".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_inventory_add_request'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InvoiceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#add_item_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an entitlement item
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [EntitlementItem]
    def create_item_using_post(opts = {})
      data, _status_code, _headers = create_item_using_post_with_http_info(opts)
      return data
    end

    # Create an entitlement item
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [Array<(EntitlementItem, Fixnum, Hash)>] EntitlementItem data, response status code and response headers
    def create_item_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.create_item_using_post ..."
      end
      # resource path
      local_var_path = "/entitlements".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'entitlement_item'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#create_item_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an entitlement template
    # Entitlement templates define a type of entitlement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The entitlement template to be created
    # @return [ItemTemplateResource]
    def create_template_using_post3(opts = {})
      data, _status_code, _headers = create_template_using_post3_with_http_info(opts)
      return data
    end

    # Create an entitlement template
    # Entitlement templates define a type of entitlement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The entitlement template to be created
    # @return [Array<(ItemTemplateResource, Fixnum, Hash)>] ItemTemplateResource data, response status code and response headers
    def create_template_using_post3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.create_template_using_post3 ..."
      end
      # resource path
      local_var_path = "/entitlements/templates".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#create_template_using_post3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an entitlement template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_entitlement_template_using_delete(id, opts = {})
      delete_entitlement_template_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete an entitlement template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_entitlement_template_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.delete_entitlement_template_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.delete_entitlement_template_using_delete" if id.nil?
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#delete_entitlement_template_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_item_using_delete(entitlement_id, opts = {})
      delete_item_using_delete_with_http_info(entitlement_id, opts)
      return nil
    end

    # Delete an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_item_using_delete_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.delete_item_using_delete ..."
      end
      # verify the required parameter 'entitlement_id' is set
      fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.delete_item_using_delete" if entitlement_id.nil?
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{format}','json').sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#delete_item_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check for access to an item without consuming
    # Useful for pre-check and accounts for all various buisness rules
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @return [nil]
    def entitlement_check_using_get(user_id, item_id, opts = {})
      entitlement_check_using_get_with_http_info(user_id, item_id, opts)
      return nil
    end

    # Check for access to an item without consuming
    # Useful for pre-check and accounts for all various buisness rules
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def entitlement_check_using_get_with_http_info(user_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.entitlement_check_using_get ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.entitlement_check_using_get" if user_id.nil?
      # verify the required parameter 'item_id' is set
      fail ArgumentError, "Missing the required parameter 'item_id' when calling UsersInventoryApi.entitlement_check_using_get" if item_id.nil?
      # resource path
      local_var_path = "/users/{user_id}/entitlements/{item_id}/check".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'item_id' + '}', item_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'sku'] = opts[:'sku'] if !opts[:'sku'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#entitlement_check_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Use an item
    # 
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement_list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @option opts [String] :info Any additional info to add to the log about this use
    # @return [nil]
    def entitlement_use_using_post(user_id, item_id, opts = {})
      entitlement_use_using_post_with_http_info(user_id, item_id, opts)
      return nil
    end

    # Use an item
    # 
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement_list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @option opts [String] :info Any additional info to add to the log about this use
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def entitlement_use_using_post_with_http_info(user_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.entitlement_use_using_post ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.entitlement_use_using_post" if user_id.nil?
      # verify the required parameter 'item_id' is set
      fail ArgumentError, "Missing the required parameter 'item_id' when calling UsersInventoryApi.entitlement_use_using_post" if item_id.nil?
      # resource path
      local_var_path = "/users/{user_id}/entitlements/{item_id}/use".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'item_id' + '}', item_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'sku'] = opts[:'sku'] if !opts[:'sku'].nil?
      query_params[:'info'] = opts[:'info'] if !opts[:'info'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#entitlement_use_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search entitlement items
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageEntitlementItem]
    def get_currencies_using_get1(opts = {})
      data, _status_code, _headers = get_currencies_using_get1_with_http_info(opts)
      return data
    end

    # List and search entitlement items
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageEntitlementItem, Fixnum, Hash)>] PageEntitlementItem data, response status code and response headers
    def get_currencies_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_currencies_using_get1 ..."
      end
      # resource path
      local_var_path = "/entitlements".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageEntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_currencies_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [ItemTemplateResource]
    def get_entitlement_template_using_get(id, opts = {})
      data, _status_code, _headers = get_entitlement_template_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemTemplateResource, Fixnum, Hash)>] ItemTemplateResource data, response status code and response headers
    def get_entitlement_template_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_template_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_entitlement_template_using_get" if id.nil?
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_template_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search entitlement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageItemTemplateResource]
    def get_entitlement_templates_using_get(opts = {})
      data, _status_code, _headers = get_entitlement_templates_using_get_with_http_info(opts)
      return data
    end

    # List and search entitlement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageItemTemplateResource, Fixnum, Hash)>] PageItemTemplateResource data, response status code and response headers
    def get_entitlement_templates_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_templates_using_get ..."
      end
      # resource path
      local_var_path = "/entitlements/templates".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_templates_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the user inventory entries for all users
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [PageUserInventoryResource]
    def get_inventory_list_using_get(opts = {})
      data, _status_code, _headers = get_inventory_list_using_get_with_http_info(opts)
      return data
    end

    # List the user inventory entries for all users
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [Array<(PageUserInventoryResource, Fixnum, Hash)>] PageUserInventoryResource data, response status code and response headers
    def get_inventory_list_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_inventory_list_using_get ..."
      end
      # resource path
      local_var_path = "/inventories".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'inactive'] = opts[:'inactive'] if !opts[:'inactive'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'filter_item_name'] = opts[:'filter_item_name'] if !opts[:'filter_item_name'].nil?
      query_params[:'filter_username'] = opts[:'filter_username'] if !opts[:'filter_username'].nil?
      query_params[:'filter_group'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'filter_date'] = opts[:'filter_date'] if !opts[:'filter_date'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageUserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_inventory_list_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @return [UserInventoryResource]
    def get_inventory_using_get(user_id, id, opts = {})
      data, _status_code, _headers = get_inventory_using_get_with_http_info(user_id, id, opts)
      return data
    end

    # Get an inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserInventoryResource, Fixnum, Hash)>] UserInventoryResource data, response status code and response headers
    def get_inventory_using_get_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_inventory_using_get ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.get_inventory_using_get" if user_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_inventory_using_get" if id.nil?
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_inventory_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [EntitlementItem]
    def get_item_using_get(entitlement_id, opts = {})
      data, _status_code, _headers = get_item_using_get_with_http_info(entitlement_id, opts)
      return data
    end

    # Get a single entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementItem, Fixnum, Hash)>] EntitlementItem data, response status code and response headers
    def get_item_using_get_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_item_using_get ..."
      end
      # verify the required parameter 'entitlement_id' is set
      fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.get_item_using_get" if entitlement_id.nil?
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{format}','json').sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_item_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the user inventory entries for a given user
    # 
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_min_date Filter for inventory added after the specified date, unix timestamp in seconds
    # @option opts [Integer] :filter_max_date Filter for inventory added before the specified date, unix timestamp in seconds
    # @return [PageUserInventoryResource]
    def get_user_inventory_list_using_get(id, opts = {})
      data, _status_code, _headers = get_user_inventory_list_using_get_with_http_info(id, opts)
      return data
    end

    # List the user inventory entries for a given user
    # 
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_min_date Filter for inventory added after the specified date, unix timestamp in seconds
    # @option opts [Integer] :filter_max_date Filter for inventory added before the specified date, unix timestamp in seconds
    # @return [Array<(PageUserInventoryResource, Fixnum, Hash)>] PageUserInventoryResource data, response status code and response headers
    def get_user_inventory_list_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_user_inventory_list_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_user_inventory_list_using_get" if id.nil?
      # resource path
      local_var_path = "/users/{id}/inventory".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'inactive'] = opts[:'inactive'] if !opts[:'inactive'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'filter_item_name'] = opts[:'filter_item_name'] if !opts[:'filter_item_name'].nil?
      query_params[:'filter_min_date'] = opts[:'filter_min_date'] if !opts[:'filter_min_date'].nil?
      query_params[:'filter_max_date'] = opts[:'filter_max_date'] if !opts[:'filter_max_date'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageUserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_user_inventory_list_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the log entries for this inventory entry.
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageUserItemLogResource]
    def get_user_inventory_log_using_get(user_id, id, opts = {})
      data, _status_code, _headers = get_user_inventory_log_using_get_with_http_info(user_id, id, opts)
      return data
    end

    # List the log entries for this inventory entry.
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageUserItemLogResource, Fixnum, Hash)>] PageUserItemLogResource data, response status code and response headers
    def get_user_inventory_log_using_get_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_user_inventory_log_using_get ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.get_user_inventory_log_using_get" if user_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_user_inventory_log_using_get" if id.nil?
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/log".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageUserItemLogResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_user_inventory_log_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [nil]
    def update_item_using_put1(entitlement_id, opts = {})
      update_item_using_put1_with_http_info(entitlement_id, opts)
      return nil
    end

    # Update an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_item_using_put1_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_item_using_put1 ..."
      end
      # verify the required parameter 'entitlement_id' is set
      fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.update_item_using_put1" if entitlement_id.nil?
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{format}','json').sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'entitlement_item'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_item_using_put1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The updated template
    # @return [nil]
    def update_template_using_put3(id, opts = {})
      update_template_using_put3_with_http_info(id, opts)
      return nil
    end

    # Update an entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The updated template
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_template_using_put3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_template_using_put3 ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_template_using_put3" if id.nil?
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_template_using_put3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the behavior data for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :data The data map
    # @return [nil]
    def update_user_inventory_behavior_data_using_put(user_id, id, opts = {})
      update_user_inventory_behavior_data_using_put_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the behavior data for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :data The data map
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_behavior_data_using_put_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_behavior_data_using_put ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_behavior_data_using_put" if user_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_behavior_data_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/behavior-data".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_behavior_data_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the expiration date
    # Will change the current grace period for a subscription but not the bill date (possibly even ending before having the chance to re-bill)
    # @param user_id user_id
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timestamp The new expiration date as a unix timestamp in seconds. May be null (no body).
    # @return [nil]
    def update_user_inventory_expires_using_put(user_id, id, opts = {})
      update_user_inventory_expires_using_put_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the expiration date
    # Will change the current grace period for a subscription but not the bill date (possibly even ending before having the chance to re-bill)
    # @param user_id user_id
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timestamp The new expiration date as a unix timestamp in seconds. May be null (no body).
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_expires_using_put_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_expires_using_put ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_expires_using_put" if user_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_expires_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/expires".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'timestamp'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_expires_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the status for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inventory_status The inventory status object
    # @return [nil]
    def update_user_inventory_status_using_put(user_id, id, opts = {})
      update_user_inventory_status_using_put_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the status for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inventory_status The inventory status object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_status_using_put_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_status_using_put ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_status_using_put" if user_id.nil?
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_status_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/status".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'inventory_status'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_status_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
