=begin
#Knetik Platform API Documentation Latest

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://demo.sandbox.knetikcloud.com

OpenAPI spec version: Latest
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a tag to a user
    # 
    # @param user_id The id of the user
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_tag_using_post1(user_id, tag, opts = {})
      add_tag_using_post1_with_http_info(user_id, tag, opts)
      return nil
    end

    # Add a tag to a user
    # 
    # @param user_id The id of the user
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_tag_using_post1_with_http_info(user_id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.add_tag_using_post1 ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.add_tag_using_post1" if user_id.nil?
      # verify the required parameter 'tag' is set
      fail ArgumentError, "Missing the required parameter 'tag' when calling UsersApi.add_tag_using_post1" if tag.nil?
      # resource path
      local_var_path = "/users/{user_id}/tags".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tag)
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#add_tag_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a user template
    # User Templates define a type of user and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :user_template_resource The user template resource object
    # @return [TemplateResource]
    def create_user_template_using_post(opts = {})
      data, _status_code, _headers = create_user_template_using_post_with_http_info(opts)
      return data
    end

    # Create a user template
    # User Templates define a type of user and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :user_template_resource The user template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_user_template_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.create_user_template_using_post ..."
      end
      # resource path
      local_var_path = "/users/templates".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#create_user_template_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a user template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_user_template_using_delete(id, opts = {})
      delete_user_template_using_delete_with_http_info(id, opts)
      return nil
    end

    # Delete a user template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_user_template_using_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.delete_user_template_using_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.delete_user_template_using_delete" if id.nil?
      # resource path
      local_var_path = "/users/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#delete_user_template_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Choose a new password after a reset
    # Finish resetting a user's password using the secret provided from the password-reset endpoint.  Password should be in plain text and will be encrypted on receipt. Use SSL for security.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [NewPasswordRequest] :new_password_request The new password request object
    # @return [nil]
    def do_password_reset_using_put(id, opts = {})
      do_password_reset_using_put_with_http_info(id, opts)
      return nil
    end

    # Choose a new password after a reset
    # Finish resetting a user&#39;s password using the secret provided from the password-reset endpoint.  Password should be in plain text and will be encrypted on receipt. Use SSL for security.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [NewPasswordRequest] :new_password_request The new password request object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def do_password_reset_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.do_password_reset_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.do_password_reset_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{id}/password-reset".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'new_password_request'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#do_password_reset_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tags for a user
    # 
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_tags_using_get3(user_id, opts = {})
      data, _status_code, _headers = get_tags_using_get3_with_http_info(user_id, opts)
      return data
    end

    # List tags for a user
    # 
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_tags_using_get3_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.get_tags_using_get3 ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.get_tags_using_get3" if user_id.nil?
      # resource path
      local_var_path = "/users/{user_id}/tags".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_tags_using_get3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single user template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_user_template_using_get(id, opts = {})
      data, _status_code, _headers = get_user_template_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single user template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_user_template_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.get_user_template_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.get_user_template_using_get" if id.nil?
      # resource path
      local_var_path = "/users/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user_template_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search user templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_user_templates_using_get(opts = {})
      data, _status_code, _headers = get_user_templates_using_get_with_http_info(opts)
      return data
    end

    # List and search user templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_user_templates_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.get_user_templates_using_get ..."
      end
      # resource path
      local_var_path = "/users/templates".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user_templates_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single user
    # Additional private info is included as USERS_ADMIN
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [UserResource]
    def get_user_using_get(id, opts = {})
      data, _status_code, _headers = get_user_using_get_with_http_info(id, opts)
      return data
    end

    # Get a single user
    # Additional private info is included as USERS_ADMIN
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserResource, Fixnum, Hash)>] UserResource data, response status code and response headers
    def get_user_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.get_user_using_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.get_user_using_get" if id.nil?
      # resource path
      local_var_path = "/users/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search users
    # Additional private info is included as USERS_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_displayname Filter for users whose display name starts with provided string.
    # @option opts [String] :filter_email Filter for users whose email starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_firstname Filter for users whose first name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_fullname Filter for users whose full name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_lastname Filter for users whose last name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_username Filter for users whose username starts with the provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_tag Filter for users who have a given tag
    # @option opts [String] :filter_group Filter for users in a given group, by unique name
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceUserBaseResource]
    def get_users_using_get(opts = {})
      data, _status_code, _headers = get_users_using_get_with_http_info(opts)
      return data
    end

    # List and search users
    # Additional private info is included as USERS_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_displayname Filter for users whose display name starts with provided string.
    # @option opts [String] :filter_email Filter for users whose email starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_firstname Filter for users whose first name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_fullname Filter for users whose full name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_lastname Filter for users whose last name starts with provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_username Filter for users whose username starts with the provided string. Requires USERS_ADMIN permission
    # @option opts [String] :filter_tag Filter for users who have a given tag
    # @option opts [String] :filter_group Filter for users in a given group, by unique name
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceUserBaseResource, Fixnum, Hash)>] PageResourceUserBaseResource data, response status code and response headers
    def get_users_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.get_users_using_get ..."
      end
      # resource path
      local_var_path = "/users".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'filter_displayname'] = opts[:'filter_displayname'] if !opts[:'filter_displayname'].nil?
      query_params[:'filter_email'] = opts[:'filter_email'] if !opts[:'filter_email'].nil?
      query_params[:'filter_firstname'] = opts[:'filter_firstname'] if !opts[:'filter_firstname'].nil?
      query_params[:'filter_fullname'] = opts[:'filter_fullname'] if !opts[:'filter_fullname'].nil?
      query_params[:'filter_lastname'] = opts[:'filter_lastname'] if !opts[:'filter_lastname'].nil?
      query_params[:'filter_username'] = opts[:'filter_username'] if !opts[:'filter_username'].nil?
      query_params[:'filter_tag'] = opts[:'filter_tag'] if !opts[:'filter_tag'].nil?
      query_params[:'filter_group'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserBaseResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_users_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset a user's password
    # A reset code will be generated and a 'forgot_password' BRE event will be fired with that code; this can be routed to the user as needed and submitted to the 'choose a new password' endpoint.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def initiate_password_reset_using_post(id, opts = {})
      initiate_password_reset_using_post_with_http_info(id, opts)
      return nil
    end

    # Reset a user&#39;s password
    # A reset code will be generated and a &#39;forgot_password&#39; BRE event will be fired with that code; this can be routed to the user as needed and submitted to the &#39;choose a new password&#39; endpoint.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def initiate_password_reset_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.initiate_password_reset_using_post ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.initiate_password_reset_using_post" if id.nil?
      # resource path
      local_var_path = "/users/{id}/password-reset".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#initiate_password_reset_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a new user
    # Password should be in plain text and will be encrypted on receipt. Use SSL for security
    # @param [Hash] opts the optional parameters
    # @option opts [UserResource] :user_resource The user resource object
    # @return [UserResource]
    def register_user_using_post(opts = {})
      data, _status_code, _headers = register_user_using_post_with_http_info(opts)
      return data
    end

    # Register a new user
    # Password should be in plain text and will be encrypted on receipt. Use SSL for security
    # @param [Hash] opts the optional parameters
    # @option opts [UserResource] :user_resource The user resource object
    # @return [Array<(UserResource, Fixnum, Hash)>] UserResource data, response status code and response headers
    def register_user_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.register_user_using_post ..."
      end
      # resource path
      local_var_path = "/users".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_resource'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#register_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a tag from a user
    # 
    # @param user_id The id of the user
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_tag_using_delete1(user_id, tag, opts = {})
      remove_tag_using_delete1_with_http_info(user_id, tag, opts)
      return nil
    end

    # Remove a tag from a user
    # 
    # @param user_id The id of the user
    # @param tag The tag to remove
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_tag_using_delete1_with_http_info(user_id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.remove_tag_using_delete1 ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.remove_tag_using_delete1" if user_id.nil?
      # verify the required parameter 'tag' is set
      fail ArgumentError, "Missing the required parameter 'tag' when calling UsersApi.remove_tag_using_delete1" if tag.nil?
      # resource path
      local_var_path = "/users/{user_id}/tags/{tag}".sub('{format}','json').sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'tag' + '}', tag.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#remove_tag_using_delete1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set a user's password
    # Password should be in plain text and will be encrypted on receipt. Use SSL for security.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password The new plain text password
    # @return [nil]
    def set_password_using_put(id, opts = {})
      set_password_using_put_with_http_info(id, opts)
      return nil
    end

    # Set a user&#39;s password
    # Password should be in plain text and will be encrypted on receipt. Use SSL for security.
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password The new plain text password
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_password_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.set_password_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.set_password_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{id}/password".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'password'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#set_password_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a user template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :user_template_resource The user template resource object
    # @return [nil]
    def update_user_template_using_put(id, opts = {})
      update_user_template_using_put_with_http_info(id, opts)
      return nil
    end

    # Update a user template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :user_template_resource The user template resource object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_template_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.update_user_template_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.update_user_template_using_put" if id.nil?
      # resource path
      local_var_path = "/users/templates/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#update_user_template_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a user's info
    # Password will not be edited on this endpoint, use password specific endpoints.
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [UserResource] :user_resource The user resource object
    # @return [nil]
    def update_user_using_put(id, opts = {})
      update_user_using_put_with_http_info(id, opts)
      return nil
    end

    # Update a user&#39;s info
    # Password will not be edited on this endpoint, use password specific endpoints.
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [UserResource] :user_resource The user resource object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_using_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersApi.update_user_using_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling UsersApi.update_user_using_put" if id.nil?
      # resource path
      local_var_path = "/users/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#update_user_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
