=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class ActivitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a user to an occurrence
    # If called with no body, defaults to the user making the call.
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the user should NOT be added. This can be used to test for eligibility (default to false)
    # @option opts [BOOLEAN] :bypass_restrictions if true, indicates that restrictions such as max player count should be ignored. Can only be used with ACTIVITIES_ADMIN (default to false)
    # @option opts [IntWrapper] :user_id The id of the user, or null for &#39;caller&#39;
    # @return [ActivityOccurrenceResource]
    def add_user(activity_occurrence_id, opts = {})
      data, _status_code, _headers = add_user_with_http_info(activity_occurrence_id, opts)
      return data
    end

    # Add a user to an occurrence
    # If called with no body, defaults to the user making the call.
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the user should NOT be added. This can be used to test for eligibility
    # @option opts [BOOLEAN] :bypass_restrictions if true, indicates that restrictions such as max player count should be ignored. Can only be used with ACTIVITIES_ADMIN
    # @option opts [IntWrapper] :user_id The id of the user, or null for &#39;caller&#39;
    # @return [Array<(ActivityOccurrenceResource, Fixnum, Hash)>] ActivityOccurrenceResource data, response status code and response headers
    def add_user_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.add_user ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.add_user"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/users".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'test'] = opts[:'test'] if !opts[:'test'].nil?
      query_params[:'bypass_restrictions'] = opts[:'bypass_restrictions'] if !opts[:'bypass_restrictions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_id'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#add_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an activity
    # <b>Permissions Needed:</b> ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [ActivityResource]
    def create_activity(opts = {})
      data, _status_code, _headers = create_activity_with_http_info(opts)
      return data
    end

    # Create an activity
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def create_activity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity ..."
      end
      # resource path
      local_var_path = "/activities"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new activity occurrence. Ex: start a game
    # Has to enforce extra rules if not used as an admin. <br><br><b>Permissions Needed:</b> ACTIVITIES_USER or ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the occurrence should NOT be created. This can be used to test for eligibility and valid settings (default to false)
    # @option opts [CreateActivityOccurrenceRequest] :activity_occurrence_resource The activity occurrence object
    # @return [ActivityOccurrenceResource]
    def create_activity_occurrence(opts = {})
      data, _status_code, _headers = create_activity_occurrence_with_http_info(opts)
      return data
    end

    # Create a new activity occurrence. Ex: start a game
    # Has to enforce extra rules if not used as an admin. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_USER or ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the occurrence should NOT be created. This can be used to test for eligibility and valid settings
    # @option opts [CreateActivityOccurrenceRequest] :activity_occurrence_resource The activity occurrence object
    # @return [Array<(ActivityOccurrenceResource, Fixnum, Hash)>] ActivityOccurrenceResource data, response status code and response headers
    def create_activity_occurrence_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity_occurrence ..."
      end
      # resource path
      local_var_path = "/activity-occurrences"

      # query parameters
      query_params = {}
      query_params[:'test'] = opts[:'test'] if !opts[:'test'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_occurrence_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity_occurrence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a activity template
    # Activity Templates define a type of activity and the properties they have. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [TemplateResource]
    def create_activity_template(opts = {})
      data, _status_code, _headers = create_activity_template_with_http_info(opts)
      return data
    end

    # Create a activity template
    # Activity Templates define a type of activity and the properties they have. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_activity_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity_template ..."
      end
      # resource path
      local_var_path = "/activities/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an activity
    # <b>Permissions Needed:</b> ACTIVITIES_ADMIN
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_activity(id, opts = {})
      delete_activity_with_http_info(id, opts)
      return nil
    end

    # Delete an activity
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_ADMIN
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.delete_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.delete_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#delete_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a activity template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_activity_template(id, opts = {})
      delete_activity_template_with_http_info(id, opts)
      return nil
    end

    # Delete a activity template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.delete_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.delete_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#delete_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List activity definitions
    # <b>Permissions Needed:</b> ANY
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_template Filter for activities that are templates, or specifically not if false
    # @option opts [String] :filter_name Filter for activities that have a name starting with specified string
    # @option opts [String] :filter_id Filter for activities with an id in the given comma separated list of ids
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceBareActivityResource]
    def get_activities(opts = {})
      data, _status_code, _headers = get_activities_with_http_info(opts)
      return data
    end

    # List activity definitions
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_template Filter for activities that are templates, or specifically not if false
    # @option opts [String] :filter_name Filter for activities that have a name starting with specified string
    # @option opts [String] :filter_id Filter for activities with an id in the given comma separated list of ids
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceBareActivityResource, Fixnum, Hash)>] PageResourceBareActivityResource data, response status code and response headers
    def get_activities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activities ..."
      end
      # resource path
      local_var_path = "/activities"

      # query parameters
      query_params = {}
      query_params[:'filter_template'] = opts[:'filter_template'] if !opts[:'filter_template'].nil?
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceBareActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single activity
    # <b>Permissions Needed:</b> ANY
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [ActivityResource]
    def get_activity(id, opts = {})
      data, _status_code, _headers = get_activity_with_http_info(id, opts)
      return data
    end

    # Get a single activity
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def get_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Load a single activity occurrence details
    # <b>Permissions Needed:</b> ACTIVITIES_ADMIN
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @return [ActivityOccurrenceResource]
    def get_activity_occurrence_details(activity_occurrence_id, opts = {})
      data, _status_code, _headers = get_activity_occurrence_details_with_http_info(activity_occurrence_id, opts)
      return data
    end

    # Load a single activity occurrence details
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_ADMIN
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivityOccurrenceResource, Fixnum, Hash)>] ActivityOccurrenceResource data, response status code and response headers
    def get_activity_occurrence_details_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity_occurrence_details ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.get_activity_occurrence_details"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_occurrence_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single activity template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or ACTIVITIES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_activity_template(id, opts = {})
      data, _status_code, _headers = get_activity_template_with_http_info(id, opts)
      return data
    end

    # Get a single activity template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or ACTIVITIES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search activity templates
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_activity_templates(opts = {})
      data, _status_code, _headers = get_activity_templates_with_http_info(opts)
      return data
    end

    # List and search activity templates
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_activity_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity_templates ..."
      end
      # resource path
      local_var_path = "/activities/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List activity occurrences
    # <b>Permissions Needed:</b> ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_activity Filter for occurrences of the given activity ID
    # @option opts [String] :filter_status Filter for occurrences in the given status
    # @option opts [Integer] :filter_event Filter for occurrences played during the given event
    # @option opts [Integer] :filter_challenge Filter for occurrences played within the given challenge
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceActivityOccurrenceResource]
    def list_activity_occurrences(opts = {})
      data, _status_code, _headers = list_activity_occurrences_with_http_info(opts)
      return data
    end

    # List activity occurrences
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_activity Filter for occurrences of the given activity ID
    # @option opts [String] :filter_status Filter for occurrences in the given status
    # @option opts [Integer] :filter_event Filter for occurrences played during the given event
    # @option opts [Integer] :filter_challenge Filter for occurrences played within the given challenge
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceActivityOccurrenceResource, Fixnum, Hash)>] PageResourceActivityOccurrenceResource data, response status code and response headers
    def list_activity_occurrences_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.list_activity_occurrences ..."
      end
      # resource path
      local_var_path = "/activity-occurrences"

      # query parameters
      query_params = {}
      query_params[:'filter_activity'] = opts[:'filter_activity'] if !opts[:'filter_activity'].nil?
      query_params[:'filter_status'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'filter_event'] = opts[:'filter_event'] if !opts[:'filter_event'].nil?
      query_params[:'filter_challenge'] = opts[:'filter_challenge'] if !opts[:'filter_challenge'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#list_activity_occurrences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a user from an occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param user_id The id of the user, or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ban if true, indicates that the user should not be allowed to re-join. Can only be set by host or admin (default to false)
    # @option opts [BOOLEAN] :bypass_restrictions if true, indicates that restrictions such as current status should be ignored. Can only be used with ACTIVITIES_ADMIN (default to false)
    # @return [nil]
    def remove_user(activity_occurrence_id, user_id, opts = {})
      remove_user_with_http_info(activity_occurrence_id, user_id, opts)
      return nil
    end

    # Remove a user from an occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param user_id The id of the user, or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ban if true, indicates that the user should not be allowed to re-join. Can only be set by host or admin
    # @option opts [BOOLEAN] :bypass_restrictions if true, indicates that restrictions such as current status should be ignored. Can only be used with ACTIVITIES_ADMIN
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_user_with_http_info(activity_occurrence_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.remove_user ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.remove_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ActivitiesApi.remove_user"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/users/{user_id}".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'ban'] = opts[:'ban'] if !opts[:'ban'].nil?
      query_params[:'bypass_restrictions'] = opts[:'bypass_restrictions'] if !opts[:'bypass_restrictions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#remove_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the status of an activity occurrence to FINISHED and logs metrics
    # In addition to user permissions requirements there is security based on the core_settings.results_trust setting.
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceResultsResource] :activity_occurrence_results The activity occurrence object
    # @return [ActivityOccurrenceResults]
    def set_activity_occurrence_results(activity_occurrence_id, opts = {})
      data, _status_code, _headers = set_activity_occurrence_results_with_http_info(activity_occurrence_id, opts)
      return data
    end

    # Sets the status of an activity occurrence to FINISHED and logs metrics
    # In addition to user permissions requirements there is security based on the core_settings.results_trust setting.
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceResultsResource] :activity_occurrence_results The activity occurrence object
    # @return [Array<(ActivityOccurrenceResults, Fixnum, Hash)>] ActivityOccurrenceResults data, response status code and response headers
    def set_activity_occurrence_results_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.set_activity_occurrence_results ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.set_activity_occurrence_results"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/results".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_occurrence_results'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResults')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#set_activity_occurrence_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the settings of an activity occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceSettingsResource] :settings The new settings
    # @return [ActivityOccurrenceResource]
    def set_activity_occurrence_settings(activity_occurrence_id, opts = {})
      data, _status_code, _headers = set_activity_occurrence_settings_with_http_info(activity_occurrence_id, opts)
      return data
    end

    # Sets the settings of an activity occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceSettingsResource] :settings The new settings
    # @return [Array<(ActivityOccurrenceResource, Fixnum, Hash)>] ActivityOccurrenceResource data, response status code and response headers
    def set_activity_occurrence_settings_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.set_activity_occurrence_settings ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.set_activity_occurrence_settings"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/settings".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'settings'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#set_activity_occurrence_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set a user's status within an occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status The new status
    # @return [ActivityUserResource]
    def set_user_status(activity_occurrence_id, user_id, opts = {})
      data, _status_code, _headers = set_user_status_with_http_info(activity_occurrence_id, user_id, opts)
      return data
    end

    # Set a user&#39;s status within an occurrence
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status The new status
    # @return [Array<(ActivityUserResource, Fixnum, Hash)>] ActivityUserResource data, response status code and response headers
    def set_user_status_with_http_info(activity_occurrence_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.set_user_status ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.set_user_status"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ActivitiesApi.set_user_status"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/users/{user_id}/status".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'status'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityUserResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#set_user_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an activity
    # <b>Permissions Needed:</b> ACTIVITIES_ADMIN
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [ActivityResource]
    def update_activity(id, opts = {})
      data, _status_code, _headers = update_activity_with_http_info(id, opts)
      return data
    end

    # Update an activity
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ACTIVITIES_ADMIN
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def update_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.update_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the status of an activity occurrence
    # If setting to 'FINISHED' reward will be run based on current metrics that have been recorded already. Alternatively, see results endpoint to finish and record all metrics at once. Can be called by non-host participants if non_host_status_control is true
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ValueWrapperstring] :activity_occurrence_status The activity occurrence status object
    # @return [nil]
    def update_activity_occurrence_status(activity_occurrence_id, opts = {})
      update_activity_occurrence_status_with_http_info(activity_occurrence_id, opts)
      return nil
    end

    # Update the status of an activity occurrence
    # If setting to &#39;FINISHED&#39; reward will be run based on current metrics that have been recorded already. Alternatively, see results endpoint to finish and record all metrics at once. Can be called by non-host participants if non_host_status_control is true
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ValueWrapperstring] :activity_occurrence_status The activity occurrence status object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_activity_occurrence_status_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity_occurrence_status ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.update_activity_occurrence_status"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/status".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_occurrence_status'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity_occurrence_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an activity template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [TemplateResource]
    def update_activity_template(id, opts = {})
      data, _status_code, _headers = update_activity_template_with_http_info(id, opts)
      return data
    end

    # Update an activity template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.update_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
