=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class ActivitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create an activity
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [ActivityResource]
    def create_activity(opts = {})
      data, _status_code, _headers = create_activity_with_http_info(opts)
      return data
    end

    # Create an activity
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def create_activity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity ..."
      end
      # resource path
      local_var_path = "/activities"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new activity occurrence. Ex: start a game
    # Has to enforce extra rules if not used as an admin
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the occurrence should NOT be created. This can be used to test for eligibility and valid settings (default to false)
    # @option opts [ActivityOccurrenceResource] :activity_occurrence_resource The activity occurrence object
    # @return [ActivityOccurrenceResource]
    def create_activity_occurrence(opts = {})
      data, _status_code, _headers = create_activity_occurrence_with_http_info(opts)
      return data
    end

    # Create a new activity occurrence. Ex: start a game
    # Has to enforce extra rules if not used as an admin
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :test if true, indicates that the occurrence should NOT be created. This can be used to test for eligibility and valid settings
    # @option opts [ActivityOccurrenceResource] :activity_occurrence_resource The activity occurrence object
    # @return [Array<(ActivityOccurrenceResource, Fixnum, Hash)>] ActivityOccurrenceResource data, response status code and response headers
    def create_activity_occurrence_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity_occurrence ..."
      end
      # resource path
      local_var_path = "/activity-occurrences"

      # query parameters
      query_params = {}
      query_params[:'test'] = opts[:'test'] if !opts[:'test'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_occurrence_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity_occurrence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a activity template
    # Activity Templates define a type of activity and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [TemplateResource]
    def create_activity_template(opts = {})
      data, _status_code, _headers = create_activity_template_with_http_info(opts)
      return data
    end

    # Create a activity template
    # Activity Templates define a type of activity and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_activity_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.create_activity_template ..."
      end
      # resource path
      local_var_path = "/activities/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#create_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_activity(id, opts = {})
      delete_activity_with_http_info(id, opts)
      return nil
    end

    # Delete an activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.delete_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.delete_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#delete_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a activity template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_activity_template(id, opts = {})
      delete_activity_template_with_http_info(id, opts)
      return nil
    end

    # Delete a activity template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.delete_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.delete_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#delete_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List activity definitions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_template Filter for activities that are templates, or specifically not if false
    # @option opts [String] :filter_name Filter for activities that have a name starting with specified string
    # @option opts [String] :filter_id Filter for activities with an id in the given comma separated list of ids
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceBareActivityResource]
    def get_activities(opts = {})
      data, _status_code, _headers = get_activities_with_http_info(opts)
      return data
    end

    # List activity definitions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_template Filter for activities that are templates, or specifically not if false
    # @option opts [String] :filter_name Filter for activities that have a name starting with specified string
    # @option opts [String] :filter_id Filter for activities with an id in the given comma separated list of ids
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceBareActivityResource, Fixnum, Hash)>] PageResourceBareActivityResource data, response status code and response headers
    def get_activities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activities ..."
      end
      # resource path
      local_var_path = "/activities"

      # query parameters
      query_params = {}
      query_params[:'filter_template'] = opts[:'filter_template'] if !opts[:'filter_template'].nil?
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceBareActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [ActivityResource]
    def get_activity(id, opts = {})
      data, _status_code, _headers = get_activity_with_http_info(id, opts)
      return data
    end

    # Get a single activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def get_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single activity template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_activity_template(id, opts = {})
      data, _status_code, _headers = get_activity_template_with_http_info(id, opts)
      return data
    end

    # Get a single activity template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.get_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search activity templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_activity_templates(opts = {})
      data, _status_code, _headers = get_activity_templates_with_http_info(opts)
      return data
    end

    # List and search activity templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_activity_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.get_activity_templates ..."
      end
      # resource path
      local_var_path = "/activities/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#get_activity_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the status of an activity occurrence to FINISHED and logs metrics
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceResultsResource] :activity_occurrence_results The activity occurrence object
    # @return [ActivityOccurrenceResults]
    def set_activity_occurrence_results(activity_occurrence_id, opts = {})
      data, _status_code, _headers = set_activity_occurrence_results_with_http_info(activity_occurrence_id, opts)
      return data
    end

    # Sets the status of an activity occurrence to FINISHED and logs metrics
    # 
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityOccurrenceResultsResource] :activity_occurrence_results The activity occurrence object
    # @return [Array<(ActivityOccurrenceResults, Fixnum, Hash)>] ActivityOccurrenceResults data, response status code and response headers
    def set_activity_occurrence_results_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.set_activity_occurrence_results ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.set_activity_occurrence_results"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/results".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_occurrence_results'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityOccurrenceResults')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#set_activity_occurrence_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [ActivityResource]
    def update_activity(id, opts = {})
      data, _status_code, _headers = update_activity_with_http_info(id, opts)
      return data
    end

    # Update an activity
    # 
    # @param id The id of the activity
    # @param [Hash] opts the optional parameters
    # @option opts [ActivityResource] :activity_resource The activity resource object
    # @return [Array<(ActivityResource, Fixnum, Hash)>] ActivityResource data, response status code and response headers
    def update_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.update_activity"
      end
      # resource path
      local_var_path = "/activities/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updated the status of an activity occurrence
    # If setting to 'FINISHED' you must POST to /results instead to record the metrics and get synchronous reward results
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [String] :activity_cccurrence_status The activity occurrence status object
    # @return [nil]
    def update_activity_occurrence(activity_occurrence_id, opts = {})
      update_activity_occurrence_with_http_info(activity_occurrence_id, opts)
      return nil
    end

    # Updated the status of an activity occurrence
    # If setting to &#39;FINISHED&#39; you must POST to /results instead to record the metrics and get synchronous reward results
    # @param activity_occurrence_id The id of the activity occurrence
    # @param [Hash] opts the optional parameters
    # @option opts [String] :activity_cccurrence_status The activity occurrence status object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_activity_occurrence_with_http_info(activity_occurrence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity_occurrence ..."
      end
      # verify the required parameter 'activity_occurrence_id' is set
      if @api_client.config.client_side_validation && activity_occurrence_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_occurrence_id' when calling ActivitiesApi.update_activity_occurrence"
      end
      # resource path
      local_var_path = "/activity-occurrences/{activity_occurrence_id}/status".sub('{' + 'activity_occurrence_id' + '}', activity_occurrence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_cccurrence_status'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity_occurrence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an activity template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [TemplateResource]
    def update_activity_template(id, opts = {})
      data, _status_code, _headers = update_activity_template_with_http_info(id, opts)
      return data
    end

    # Update an activity template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :activity_template_resource The activity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivitiesApi.update_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivitiesApi.update_activity_template"
      end
      # resource path
      local_var_path = "/activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'activity_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivitiesApi#update_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
