=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class BRERuleEngineRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a rule
    # Rules define which actions to run when a given event verifies the specified condition. Full list of predicates and other type of expressions can be found at GET /bre/expressions/. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [BreRule] :bre_rule The BRE rule object
    # @return [BreRule]
    def create_bre_rule(opts = {})
      data, _status_code, _headers = create_bre_rule_with_http_info(opts)
      return data
    end

    # Create a rule
    # Rules define which actions to run when a given event verifies the specified condition. Full list of predicates and other type of expressions can be found at GET /bre/expressions/. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [BreRule] :bre_rule The BRE rule object
    # @return [Array<(BreRule, Fixnum, Hash)>] BreRule data, response status code and response headers
    def create_bre_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.create_bre_rule ..."
      end
      # resource path
      local_var_path = "/bre/rules"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'bre_rule'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BreRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#create_bre_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rule
    # May fail if there are existing rules against it. Cannot delete core rules. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bre_rule(id, opts = {})
      delete_bre_rule_with_http_info(id, opts)
      return nil
    end

    # Delete a rule
    # May fail if there are existing rules against it. Cannot delete core rules. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_bre_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.delete_bre_rule ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BRERuleEngineRulesApi.delete_bre_rule"
      end
      # resource path
      local_var_path = "/bre/rules/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#delete_bre_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a string representation of the provided expression
    # <b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Expressionobject] :expression The expression
    # @return [String]
    def get_bre_expression_as_string(opts = {})
      data, _status_code, _headers = get_bre_expression_as_string_with_http_info(opts)
      return data
    end

    # Returns a string representation of the provided expression
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Expressionobject] :expression The expression
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def get_bre_expression_as_string_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.get_bre_expression_as_string ..."
      end
      # resource path
      local_var_path = "/bre/rules/expression-as-string"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'expression'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#get_bre_expression_as_string\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single rule
    # <b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @return [BreRule]
    def get_bre_rule(id, opts = {})
      data, _status_code, _headers = get_bre_rule_with_http_info(id, opts)
      return data
    end

    # Get a single rule
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(BreRule, Fixnum, Hash)>] BreRule data, response status code and response headers
    def get_bre_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.get_bre_rule ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BRERuleEngineRulesApi.get_bre_rule"
      end
      # resource path
      local_var_path = "/bre/rules/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BreRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#get_bre_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List rules
    # <b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for rules containing the given name
    # @option opts [BOOLEAN] :filter_enabled Filter for rules by active status, null for both (default to null)
    # @option opts [BOOLEAN] :filter_system Filter for rules that are system rules when true, or not when false. Leave off for both mixed
    # @option opts [String] :filter_trigger Filter for rules that are for the trigger with the given name
    # @option opts [String] :filter_action Filter for rules that use the action with the given name
    # @option opts [String] :filter_condition Filter for rules that have a condition containing the given string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceBreRule]
    def get_bre_rules(opts = {})
      data, _status_code, _headers = get_bre_rules_with_http_info(opts)
      return data
    end

    # List rules
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for rules containing the given name
    # @option opts [BOOLEAN] :filter_enabled Filter for rules by active status, null for both
    # @option opts [BOOLEAN] :filter_system Filter for rules that are system rules when true, or not when false. Leave off for both mixed
    # @option opts [String] :filter_trigger Filter for rules that are for the trigger with the given name
    # @option opts [String] :filter_action Filter for rules that use the action with the given name
    # @option opts [String] :filter_condition Filter for rules that have a condition containing the given string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceBreRule, Fixnum, Hash)>] PageResourceBreRule data, response status code and response headers
    def get_bre_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.get_bre_rules ..."
      end
      # resource path
      local_var_path = "/bre/rules"

      # query parameters
      query_params = {}
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_enabled'] = opts[:'filter_enabled'] if !opts[:'filter_enabled'].nil?
      query_params[:'filter_system'] = opts[:'filter_system'] if !opts[:'filter_system'].nil?
      query_params[:'filter_trigger'] = opts[:'filter_trigger'] if !opts[:'filter_trigger'].nil?
      query_params[:'filter_action'] = opts[:'filter_action'] if !opts[:'filter_action'].nil?
      query_params[:'filter_condition'] = opts[:'filter_condition'] if !opts[:'filter_condition'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceBreRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#get_bre_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable or disable a rule
    # This is helpful for turning off systems rules which cannot be deleted or modified otherwise. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @option opts [BooleanResource] :enabled The boolean value
    # @return [nil]
    def set_bre_rule(id, opts = {})
      set_bre_rule_with_http_info(id, opts)
      return nil
    end

    # Enable or disable a rule
    # This is helpful for turning off systems rules which cannot be deleted or modified otherwise. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @option opts [BooleanResource] :enabled The boolean value
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_bre_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.set_bre_rule ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BRERuleEngineRulesApi.set_bre_rule"
      end
      # resource path
      local_var_path = "/bre/rules/{id}/enabled".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'enabled'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#set_bre_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rule
    # Cannot update system rules. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @option opts [BreRule] :bre_rule The BRE rule object
    # @return [BreRule]
    def update_bre_rule(id, opts = {})
      data, _status_code, _headers = update_bre_rule_with_http_info(id, opts)
      return data
    end

    # Update a rule
    # Cannot update system rules. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_RULES_ADMIN
    # @param id The id of the rule
    # @param [Hash] opts the optional parameters
    # @option opts [BreRule] :bre_rule The BRE rule object
    # @return [Array<(BreRule, Fixnum, Hash)>] BreRule data, response status code and response headers
    def update_bre_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BRERuleEngineRulesApi.update_bre_rule ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BRERuleEngineRulesApi.update_bre_rule"
      end
      # resource path
      local_var_path = "/bre/rules/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'bre_rule'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BreRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BRERuleEngineRulesApi#update_bre_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
