=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class CampaignsChallengesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a challenge
    # Challenges do not run on their own.  They must be added to a campaign before events will spawn. <br><br><b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeResource] :challenge_resource The challenge resource object
    # @return [ChallengeResource]
    def create_challenge(opts = {})
      data, _status_code, _headers = create_challenge_with_http_info(opts)
      return data
    end

    # Create a challenge
    # Challenges do not run on their own.  They must be added to a campaign before events will spawn. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeResource] :challenge_resource The challenge resource object
    # @return [Array<(ChallengeResource, Fixnum, Hash)>] ChallengeResource data, response status code and response headers
    def create_challenge_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.create_challenge ..."
      end
      # resource path
      local_var_path = "/challenges"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#create_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a challenge activity
    # <b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeActivityResource] :challenge_activity_resource The challenge activity resource object
    # @option opts [BOOLEAN] :validate_settings Whether to validate the settings being sent against the available settings on the base activity. (default to false)
    # @return [ChallengeActivityResource]
    def create_challenge_activity(challenge_id, opts = {})
      data, _status_code, _headers = create_challenge_activity_with_http_info(challenge_id, opts)
      return data
    end

    # Create a challenge activity
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeActivityResource] :challenge_activity_resource The challenge activity resource object
    # @option opts [BOOLEAN] :validate_settings Whether to validate the settings being sent against the available settings on the base activity.
    # @return [Array<(ChallengeActivityResource, Fixnum, Hash)>] ChallengeActivityResource data, response status code and response headers
    def create_challenge_activity_with_http_info(challenge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.create_challenge_activity ..."
      end
      # verify the required parameter 'challenge_id' is set
      if @api_client.config.client_side_validation && challenge_id.nil?
        fail ArgumentError, "Missing the required parameter 'challenge_id' when calling CampaignsChallengesApi.create_challenge_activity"
      end
      # resource path
      local_var_path = "/challenges/{challenge_id}/activities".sub('{' + 'challenge_id' + '}', challenge_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'validate_settings'] = opts[:'validate_settings'] if !opts[:'validate_settings'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_activity_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#create_challenge_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a challenge activity template
    # Challenge Activity Templates define a type of challenge activity and the properties they have. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_activity_template_resource The challengeActivity template resource object
    # @return [TemplateResource]
    def create_challenge_activity_template(opts = {})
      data, _status_code, _headers = create_challenge_activity_template_with_http_info(opts)
      return data
    end

    # Create a challenge activity template
    # Challenge Activity Templates define a type of challenge activity and the properties they have. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_activity_template_resource The challengeActivity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_challenge_activity_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.create_challenge_activity_template ..."
      end
      # resource path
      local_var_path = "/challenge-activities/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_activity_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#create_challenge_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a challenge template
    # Challenge Templates define a type of challenge and the properties they have. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_template_resource The challenge template resource object
    # @return [TemplateResource]
    def create_challenge_template(opts = {})
      data, _status_code, _headers = create_challenge_template_with_http_info(opts)
      return data
    end

    # Create a challenge template
    # Challenge Templates define a type of challenge and the properties they have. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_template_resource The challenge template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_challenge_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.create_challenge_template ..."
      end
      # resource path
      local_var_path = "/challenges/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#create_challenge_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a challenge
    # <b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_challenge(id, opts = {})
      delete_challenge_with_http_info(id, opts)
      return nil
    end

    # Delete a challenge
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_challenge_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.delete_challenge ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.delete_challenge"
      end
      # resource path
      local_var_path = "/challenges/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#delete_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. <br><br><b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_challenge_activity(id, challenge_id, opts = {})
      delete_challenge_activity_with_http_info(id, challenge_id, opts)
      return nil
    end

    # Delete a challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_challenge_activity_with_http_info(id, challenge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.delete_challenge_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.delete_challenge_activity"
      end
      # verify the required parameter 'challenge_id' is set
      if @api_client.config.client_side_validation && challenge_id.nil?
        fail ArgumentError, "Missing the required parameter 'challenge_id' when calling CampaignsChallengesApi.delete_challenge_activity"
      end
      # resource path
      local_var_path = "/challenges/{challenge_id}/activities/{id}".sub('{' + 'id' + '}', id.to_s).sub('{' + 'challenge_id' + '}', challenge_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#delete_challenge_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a challenge activity template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_challenge_activity_template(id, opts = {})
      delete_challenge_activity_template_with_http_info(id, opts)
      return nil
    end

    # Delete a challenge activity template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_challenge_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.delete_challenge_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.delete_challenge_activity_template"
      end
      # resource path
      local_var_path = "/challenge-activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#delete_challenge_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a challenge event
    # <b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param id The challenge event id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_challenge_event(id, opts = {})
      delete_challenge_event_with_http_info(id, opts)
      return nil
    end

    # Delete a challenge event
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param id The challenge event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_challenge_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.delete_challenge_event ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.delete_challenge_event"
      end
      # resource path
      local_var_path = "/challenges/events/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#delete_challenge_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a challenge template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects. <br><br><b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_challenge_template(id, opts = {})
      delete_challenge_template_with_http_info(id, opts)
      return nil
    end

    # Delete a challenge template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_challenge_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.delete_challenge_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.delete_challenge_template"
      end
      # resource path
      local_var_path = "/challenges/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#delete_challenge_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a challenge
    # <b>Permissions Needed:</b> ANY
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [ChallengeResource]
    def get_challenge(id, opts = {})
      data, _status_code, _headers = get_challenge_with_http_info(id, opts)
      return data
    end

    # Retrieve a challenge
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChallengeResource, Fixnum, Hash)>] ChallengeResource data, response status code and response headers
    def get_challenge_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.get_challenge"
      end
      # resource path
      local_var_path = "/challenges/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search challenge activities
    # <b>Permissions Needed:</b> ANY
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceBareChallengeActivityResource]
    def get_challenge_activities(challenge_id, opts = {})
      data, _status_code, _headers = get_challenge_activities_with_http_info(challenge_id, opts)
      return data
    end

    # List and search challenge activities
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceBareChallengeActivityResource, Fixnum, Hash)>] PageResourceBareChallengeActivityResource data, response status code and response headers
    def get_challenge_activities_with_http_info(challenge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_activities ..."
      end
      # verify the required parameter 'challenge_id' is set
      if @api_client.config.client_side_validation && challenge_id.nil?
        fail ArgumentError, "Missing the required parameter 'challenge_id' when calling CampaignsChallengesApi.get_challenge_activities"
      end
      # resource path
      local_var_path = "/challenges/{challenge_id}/activities".sub('{' + 'challenge_id' + '}', challenge_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceBareChallengeActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_activities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. <br><br><b>Permissions Needed:</b> ANY
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [ChallengeActivityResource]
    def get_challenge_activity(id, challenge_id, opts = {})
      data, _status_code, _headers = get_challenge_activity_with_http_info(id, challenge_id, opts)
      return data
    end

    # Get a single challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChallengeActivityResource, Fixnum, Hash)>] ChallengeActivityResource data, response status code and response headers
    def get_challenge_activity_with_http_info(id, challenge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.get_challenge_activity"
      end
      # verify the required parameter 'challenge_id' is set
      if @api_client.config.client_side_validation && challenge_id.nil?
        fail ArgumentError, "Missing the required parameter 'challenge_id' when calling CampaignsChallengesApi.get_challenge_activity"
      end
      # resource path
      local_var_path = "/challenges/{challenge_id}/activities/{id}".sub('{' + 'id' + '}', id.to_s).sub('{' + 'challenge_id' + '}', challenge_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single challenge activity template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_challenge_activity_template(id, opts = {})
      data, _status_code, _headers = get_challenge_activity_template_with_http_info(id, opts)
      return data
    end

    # Get a single challenge activity template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_challenge_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.get_challenge_activity_template"
      end
      # resource path
      local_var_path = "/challenge-activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search challenge activity templates
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_challenge_activity_templates(opts = {})
      data, _status_code, _headers = get_challenge_activity_templates_with_http_info(opts)
      return data
    end

    # List and search challenge activity templates
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_challenge_activity_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_activity_templates ..."
      end
      # resource path
      local_var_path = "/challenge-activities/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_activity_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single challenge event details
    # <b>Permissions Needed:</b> ANY
    # @param id The challenge event id
    # @param [Hash] opts the optional parameters
    # @return [ChallengeEventResource]
    def get_challenge_event(id, opts = {})
      data, _status_code, _headers = get_challenge_event_with_http_info(id, opts)
      return data
    end

    # Retrieve a single challenge event details
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param id The challenge event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChallengeEventResource, Fixnum, Hash)>] ChallengeEventResource data, response status code and response headers
    def get_challenge_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_event ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.get_challenge_event"
      end
      # resource path
      local_var_path = "/challenges/events/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeEventResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of challenge events
    # <b>Permissions Needed:</b> ANY
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the event start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the event end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [BOOLEAN] :filter_campaigns check only for events from currently running campaigns
    # @option opts [Integer] :filter_challenge check only for events from the challenge specified by id
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceChallengeEventResource]
    def get_challenge_events(opts = {})
      data, _status_code, _headers = get_challenge_events_with_http_info(opts)
      return data
    end

    # Retrieve a list of challenge events
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the event start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the event end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [BOOLEAN] :filter_campaigns check only for events from currently running campaigns
    # @option opts [Integer] :filter_challenge check only for events from the challenge specified by id
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceChallengeEventResource, Fixnum, Hash)>] PageResourceChallengeEventResource data, response status code and response headers
    def get_challenge_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_events ..."
      end
      # resource path
      local_var_path = "/challenges/events"

      # query parameters
      query_params = {}
      query_params[:'filter_start_date'] = opts[:'filter_start_date'] if !opts[:'filter_start_date'].nil?
      query_params[:'filter_end_date'] = opts[:'filter_end_date'] if !opts[:'filter_end_date'].nil?
      query_params[:'filter_campaigns'] = opts[:'filter_campaigns'] if !opts[:'filter_campaigns'].nil?
      query_params[:'filter_challenge'] = opts[:'filter_challenge'] if !opts[:'filter_challenge'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceChallengeEventResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single challenge template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_challenge_template(id, opts = {})
      data, _status_code, _headers = get_challenge_template_with_http_info(id, opts)
      return data
    end

    # Get a single challenge template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_challenge_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.get_challenge_template"
      end
      # resource path
      local_var_path = "/challenges/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search challenge templates
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_challenge_templates(opts = {})
      data, _status_code, _headers = get_challenge_templates_with_http_info(opts)
      return data
    end

    # List and search challenge templates
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN or CHALLENGES_ADMIN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_challenge_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenge_templates ..."
      end
      # resource path
      local_var_path = "/challenges/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenge_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of challenges
    # <b>Permissions Needed:</b> ANY
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_active_campaign Filter for challenges that are tied to active campaigns
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the challenge start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the challenge end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceChallengeResource]
    def get_challenges(opts = {})
      data, _status_code, _headers = get_challenges_with_http_info(opts)
      return data
    end

    # Retrieve a list of challenges
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; ANY
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_active_campaign Filter for challenges that are tied to active campaigns
    # @option opts [String] :filter_start_date A comma separated string without spaces.  First value is the operator to search on, second value is the challenge start date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [String] :filter_end_date A comma separated string without spaces.  First value is the operator to search on, second value is the challenge end date, a unix timestamp in seconds.  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceChallengeResource, Fixnum, Hash)>] PageResourceChallengeResource data, response status code and response headers
    def get_challenges_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.get_challenges ..."
      end
      # resource path
      local_var_path = "/challenges"

      # query parameters
      query_params = {}
      query_params[:'filter_active_campaign'] = opts[:'filter_active_campaign'] if !opts[:'filter_active_campaign'].nil?
      query_params[:'filter_start_date'] = opts[:'filter_start_date'] if !opts[:'filter_start_date'].nil?
      query_params[:'filter_end_date'] = opts[:'filter_end_date'] if !opts[:'filter_end_date'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceChallengeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#get_challenges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a challenge
    # If the challenge is a copy, changes will propagate to all the related challenges. <br><br><b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeResource] :challenge_resource The challenge resource object
    # @return [ChallengeResource]
    def update_challenge(id, opts = {})
      data, _status_code, _headers = update_challenge_with_http_info(id, opts)
      return data
    end

    # Update a challenge
    # If the challenge is a copy, changes will propagate to all the related challenges. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeResource] :challenge_resource The challenge resource object
    # @return [Array<(ChallengeResource, Fixnum, Hash)>] ChallengeResource data, response status code and response headers
    def update_challenge_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.update_challenge ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.update_challenge"
      end
      # resource path
      local_var_path = "/challenges/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#update_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. <br><br><b>Permissions Needed:</b> CHALLENGES_ADMIN
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeActivityResource] :challenge_activity_resource The challenge activity resource object
    # @option opts [BOOLEAN] :validate_settings Whether to validate the settings being sent against the available settings on the base activity. (default to false)
    # @return [ChallengeActivityResource]
    def update_challenge_activity(id, challenge_id, opts = {})
      data, _status_code, _headers = update_challenge_activity_with_http_info(id, challenge_id, opts)
      return data
    end

    # Update a challenge activity
    # A challenge can have multiple instances of the same activity and thus the id used is of the specific entry within the challenge. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; CHALLENGES_ADMIN
    # @param id The challenge_activity id
    # @param challenge_id The challenge id
    # @param [Hash] opts the optional parameters
    # @option opts [ChallengeActivityResource] :challenge_activity_resource The challenge activity resource object
    # @option opts [BOOLEAN] :validate_settings Whether to validate the settings being sent against the available settings on the base activity.
    # @return [Array<(ChallengeActivityResource, Fixnum, Hash)>] ChallengeActivityResource data, response status code and response headers
    def update_challenge_activity_with_http_info(id, challenge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.update_challenge_activity ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.update_challenge_activity"
      end
      # verify the required parameter 'challenge_id' is set
      if @api_client.config.client_side_validation && challenge_id.nil?
        fail ArgumentError, "Missing the required parameter 'challenge_id' when calling CampaignsChallengesApi.update_challenge_activity"
      end
      # resource path
      local_var_path = "/challenges/{challenge_id}/activities/{id}".sub('{' + 'id' + '}', id.to_s).sub('{' + 'challenge_id' + '}', challenge_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'validateSettings'] = opts[:'validate_settings'] if !opts[:'validate_settings'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_activity_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChallengeActivityResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#update_challenge_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an challenge activity template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_activity_template_resource The challengeActivity template resource object
    # @return [TemplateResource]
    def update_challenge_activity_template(id, opts = {})
      data, _status_code, _headers = update_challenge_activity_template_with_http_info(id, opts)
      return data
    end

    # Update an challenge activity template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_activity_template_resource The challengeActivity template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_challenge_activity_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.update_challenge_activity_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.update_challenge_activity_template"
      end
      # resource path
      local_var_path = "/challenge-activities/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_activity_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#update_challenge_activity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a challenge template
    # <b>Permissions Needed:</b> TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_template_resource The challenge template resource object
    # @return [TemplateResource]
    def update_challenge_template(id, opts = {})
      data, _status_code, _headers = update_challenge_template_with_http_info(id, opts)
      return data
    end

    # Update a challenge template
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TEMPLATE_ADMIN
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :challenge_template_resource The challenge template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_challenge_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CampaignsChallengesApi.update_challenge_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignsChallengesApi.update_challenge_template"
      end
      # resource path
      local_var_path = "/challenges/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'challenge_template_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignsChallengesApi#update_challenge_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
