=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class GamificationAchievementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new achievement definition
    # If the definition contains a trigger event name, a BRE rule is created, so that tracking logic is executed when the triggering event occurs. If no trigger event name is specified, the user's achievement status must manually be updated via the API.
    # @param [Hash] opts the optional parameters
    # @option opts [AchievementDefinitionResource] :achievement The achievement definition
    # @return [AchievementDefinitionResource]
    def create_achievement(opts = {})
      data, _status_code, _headers = create_achievement_with_http_info(opts)
      return data
    end

    # Create a new achievement definition
    # If the definition contains a trigger event name, a BRE rule is created, so that tracking logic is executed when the triggering event occurs. If no trigger event name is specified, the user&#39;s achievement status must manually be updated via the API.
    # @param [Hash] opts the optional parameters
    # @option opts [AchievementDefinitionResource] :achievement The achievement definition
    # @return [Array<(AchievementDefinitionResource, Fixnum, Hash)>] AchievementDefinitionResource data, response status code and response headers
    def create_achievement_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.create_achievement ..."
      end
      # resource path
      local_var_path = "/achievements"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'achievement'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AchievementDefinitionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#create_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an achievement template
    # Achievement templates define a type of achievement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :template The achievement template to be created
    # @return [TemplateResource]
    def create_achievement_template(opts = {})
      data, _status_code, _headers = create_achievement_template_with_http_info(opts)
      return data
    end

    # Create an achievement template
    # Achievement templates define a type of achievement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :template The achievement template to be created
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_achievement_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.create_achievement_template ..."
      end
      # resource path
      local_var_path = "/achievements/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#create_achievement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an achievement definition
    # Will also disable the associated generated rule, if any.
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_achievement(name, opts = {})
      delete_achievement_with_http_info(name, opts)
      return nil
    end

    # Delete an achievement definition
    # Will also disable the associated generated rule, if any.
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_achievement_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.delete_achievement ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationAchievementsApi.delete_achievement"
      end
      # resource path
      local_var_path = "/achievements/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#delete_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an achievement template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_achievement_template(id, opts = {})
      delete_achievement_template_with_http_info(id, opts)
      return nil
    end

    # Delete an achievement template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_achievement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.delete_achievement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GamificationAchievementsApi.delete_achievement_template"
      end
      # resource path
      local_var_path = "/achievements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#delete_achievement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single achievement definition
    # 
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @return [AchievementDefinitionResource]
    def get_achievement(name, opts = {})
      data, _status_code, _headers = get_achievement_with_http_info(name, opts)
      return data
    end

    # Get a single achievement definition
    # 
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchievementDefinitionResource, Fixnum, Hash)>] AchievementDefinitionResource data, response status code and response headers
    def get_achievement_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_achievement ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationAchievementsApi.get_achievement"
      end
      # resource path
      local_var_path = "/achievements/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AchievementDefinitionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single achievement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_achievement_template(id, opts = {})
      data, _status_code, _headers = get_achievement_template_with_http_info(id, opts)
      return data
    end

    # Get a single achievement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_achievement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_achievement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GamificationAchievementsApi.get_achievement_template"
      end
      # resource path
      local_var_path = "/achievements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_achievement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search achievement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_achievement_templates(opts = {})
      data, _status_code, _headers = get_achievement_templates_with_http_info(opts)
      return data
    end

    # List and search achievement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_achievement_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_achievement_templates ..."
      end
      # resource path
      local_var_path = "/achievements/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_achievement_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the list of triggers that can be used to trigger an achievement progress update
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<BreTriggerResource>]
    def get_achievement_triggers(opts = {})
      data, _status_code, _headers = get_achievement_triggers_with_http_info(opts)
      return data
    end

    # Get the list of triggers that can be used to trigger an achievement progress update
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<BreTriggerResource>, Fixnum, Hash)>] Array<BreTriggerResource> data, response status code and response headers
    def get_achievement_triggers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_achievement_triggers ..."
      end
      # resource path
      local_var_path = "/achievements/triggers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<BreTriggerResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_achievement_triggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all achievement definitions in the system
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_name Filter for achievements whose name contains a string
    # @option opts [BOOLEAN] :filter_hidden Filter for achievements that are hidden or not
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to name:ASC)
    # @option opts [BOOLEAN] :filter_derived Filter for achievements that are derived from other services (default to false)
    # @return [PageResourceAchievementDefinitionResource]
    def get_achievements(opts = {})
      data, _status_code, _headers = get_achievements_with_http_info(opts)
      return data
    end

    # Get all achievement definitions in the system
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_name Filter for achievements whose name contains a string
    # @option opts [BOOLEAN] :filter_hidden Filter for achievements that are hidden or not
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @option opts [BOOLEAN] :filter_derived Filter for achievements that are derived from other services
    # @return [Array<(PageResourceAchievementDefinitionResource, Fixnum, Hash)>] PageResourceAchievementDefinitionResource data, response status code and response headers
    def get_achievements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_achievements ..."
      end
      # resource path
      local_var_path = "/achievements"

      # query parameters
      query_params = {}
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_hidden'] = opts[:'filter_hidden'] if !opts[:'filter_hidden'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'filter_derived'] = opts[:'filter_derived'] if !opts[:'filter_derived'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceAchievementDefinitionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_achievements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of derived achievements
    # Used by other services that depend on achievements
    # @param name The name of the derived achievement
    # @param [Hash] opts the optional parameters
    # @return [Array<AchievementDefinitionResource>]
    def get_derived_achievements(name, opts = {})
      data, _status_code, _headers = get_derived_achievements_with_http_info(name, opts)
      return data
    end

    # Get a list of derived achievements
    # Used by other services that depend on achievements
    # @param name The name of the derived achievement
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AchievementDefinitionResource>, Fixnum, Hash)>] Array<AchievementDefinitionResource> data, response status code and response headers
    def get_derived_achievements_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_derived_achievements ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationAchievementsApi.get_derived_achievements"
      end
      # resource path
      local_var_path = "/achievements/derived/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AchievementDefinitionResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_derived_achievements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve progress on a given achievement for a given user
    # Assets will not be filled in on the resources returned. Use 'Get a single poll' to retrieve the full resource with assets for a given item as needed.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @return [UserAchievementGroupResource]
    def get_user_achievement_progress(user_id, achievement_name, opts = {})
      data, _status_code, _headers = get_user_achievement_progress_with_http_info(user_id, achievement_name, opts)
      return data
    end

    # Retrieve progress on a given achievement for a given user
    # Assets will not be filled in on the resources returned. Use &#39;Get a single poll&#39; to retrieve the full resource with assets for a given item as needed.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAchievementGroupResource, Fixnum, Hash)>] UserAchievementGroupResource data, response status code and response headers
    def get_user_achievement_progress_with_http_info(user_id, achievement_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_user_achievement_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationAchievementsApi.get_user_achievement_progress"
      end
      # verify the required parameter 'achievement_name' is set
      if @api_client.config.client_side_validation && achievement_name.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_name' when calling GamificationAchievementsApi.get_user_achievement_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/achievements/{achievement_name}".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'achievement_name' + '}', achievement_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_user_achievement_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve progress on achievements for a given user
    # Assets will not be filled in on the resources returned. Use 'Get a single poll' to retrieve the full resource with assets for a given item as needed.
    # @param user_id The user&#39;s id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUserAchievementGroupResource]
    def get_user_achievements_progress(user_id, opts = {})
      data, _status_code, _headers = get_user_achievements_progress_with_http_info(user_id, opts)
      return data
    end

    # Retrieve progress on achievements for a given user
    # Assets will not be filled in on the resources returned. Use &#39;Get a single poll&#39; to retrieve the full resource with assets for a given item as needed.
    # @param user_id The user&#39;s id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUserAchievementGroupResource, Fixnum, Hash)>] PageResourceUserAchievementGroupResource data, response status code and response headers
    def get_user_achievements_progress_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_user_achievements_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationAchievementsApi.get_user_achievements_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/achievements".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter_achievement_derived'] = opts[:'filter_achievement_derived'] if !opts[:'filter_achievement_derived'].nil?
      query_params[:'filter_achievement_tagset'] = opts[:'filter_achievement_tagset'] if !opts[:'filter_achievement_tagset'].nil?
      query_params[:'filter_achievement_name'] = opts[:'filter_achievement_name'] if !opts[:'filter_achievement_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_user_achievements_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve progress on a given achievement for all users
    # Assets will not be filled in on the resources returned. Use 'Get single achievement progress for user' to retrieve the full resource with assets for a given user as needed.
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUserAchievementGroupResource]
    def get_users_achievement_progress(achievement_name, opts = {})
      data, _status_code, _headers = get_users_achievement_progress_with_http_info(achievement_name, opts)
      return data
    end

    # Retrieve progress on a given achievement for all users
    # Assets will not be filled in on the resources returned. Use &#39;Get single achievement progress for user&#39; to retrieve the full resource with assets for a given user as needed.
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUserAchievementGroupResource, Fixnum, Hash)>] PageResourceUserAchievementGroupResource data, response status code and response headers
    def get_users_achievement_progress_with_http_info(achievement_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_users_achievement_progress ..."
      end
      # verify the required parameter 'achievement_name' is set
      if @api_client.config.client_side_validation && achievement_name.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_name' when calling GamificationAchievementsApi.get_users_achievement_progress"
      end
      # resource path
      local_var_path = "/users/achievements/{achievement_name}".sub('{' + 'achievement_name' + '}', achievement_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter_achievement_derived'] = opts[:'filter_achievement_derived'] if !opts[:'filter_achievement_derived'].nil?
      query_params[:'filter_achievement_tagset'] = opts[:'filter_achievement_tagset'] if !opts[:'filter_achievement_tagset'].nil?
      query_params[:'filter_achievement_name'] = opts[:'filter_achievement_name'] if !opts[:'filter_achievement_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_users_achievement_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve progress on achievements for all users
    # Assets will not be filled in on the resources returned. Use 'Get single achievement progress for user' to retrieve the full resource with assets for a given user as needed.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUserAchievementGroupResource]
    def get_users_achievements_progress(opts = {})
      data, _status_code, _headers = get_users_achievements_progress_with_http_info(opts)
      return data
    end

    # Retrieve progress on achievements for all users
    # Assets will not be filled in on the resources returned. Use &#39;Get single achievement progress for user&#39; to retrieve the full resource with assets for a given user as needed.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :filter_achievement_derived Filter for achievements that are derived from other services
    # @option opts [String] :filter_achievement_tagset Filter for achievements with specified tags (separated by comma)
    # @option opts [String] :filter_achievement_name Filter for achievements whose name contains a string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUserAchievementGroupResource, Fixnum, Hash)>] PageResourceUserAchievementGroupResource data, response status code and response headers
    def get_users_achievements_progress_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.get_users_achievements_progress ..."
      end
      # resource path
      local_var_path = "/users/achievements"

      # query parameters
      query_params = {}
      query_params[:'filter_achievement_derived'] = opts[:'filter_achievement_derived'] if !opts[:'filter_achievement_derived'].nil?
      query_params[:'filter_achievement_tagset'] = opts[:'filter_achievement_tagset'] if !opts[:'filter_achievement_tagset'].nil?
      query_params[:'filter_achievement_name'] = opts[:'filter_achievement_name'] if !opts[:'filter_achievement_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#get_users_achievements_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment an achievement progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated and the provided value added to the existing progress. May be negative. If progress meets or exceeds the achievement's max_value it will be marked as earned and a BRE event will be triggered for the <code>BreAchievementEarnedTrigger</code>.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The amount to add to the progress value
    # @return [UserAchievementGroupResource]
    def increment_achievement_progress(user_id, achievement_name, opts = {})
      data, _status_code, _headers = increment_achievement_progress_with_http_info(user_id, achievement_name, opts)
      return data
    end

    # Increment an achievement progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated and the provided value added to the existing progress. May be negative. If progress meets or exceeds the achievement&#39;s max_value it will be marked as earned and a BRE event will be triggered for the &lt;code&gt;BreAchievementEarnedTrigger&lt;/code&gt;.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The amount to add to the progress value
    # @return [Array<(UserAchievementGroupResource, Fixnum, Hash)>] UserAchievementGroupResource data, response status code and response headers
    def increment_achievement_progress_with_http_info(user_id, achievement_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.increment_achievement_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationAchievementsApi.increment_achievement_progress"
      end
      # verify the required parameter 'achievement_name' is set
      if @api_client.config.client_side_validation && achievement_name.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_name' when calling GamificationAchievementsApi.increment_achievement_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/achievements/{achievement_name}/progress".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'achievement_name' + '}', achievement_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'progress'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#increment_achievement_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set an achievement progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated and progress set to the provided value. If progress meets or exceeds the achievement's max_value it will be marked as earned and a BRE event will be triggered for the <code>BreAchievementEarnedTrigger</code>.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The new progress value
    # @return [UserAchievementGroupResource]
    def set_achievement_progress(user_id, achievement_name, opts = {})
      data, _status_code, _headers = set_achievement_progress_with_http_info(user_id, achievement_name, opts)
      return data
    end

    # Set an achievement progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated and progress set to the provided value. If progress meets or exceeds the achievement&#39;s max_value it will be marked as earned and a BRE event will be triggered for the &lt;code&gt;BreAchievementEarnedTrigger&lt;/code&gt;.
    # @param user_id The user&#39;s id
    # @param achievement_name The achievement&#39;s name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The new progress value
    # @return [Array<(UserAchievementGroupResource, Fixnum, Hash)>] UserAchievementGroupResource data, response status code and response headers
    def set_achievement_progress_with_http_info(user_id, achievement_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.set_achievement_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationAchievementsApi.set_achievement_progress"
      end
      # verify the required parameter 'achievement_name' is set
      if @api_client.config.client_side_validation && achievement_name.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_name' when calling GamificationAchievementsApi.set_achievement_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/achievements/{achievement_name}/progress".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'achievement_name' + '}', achievement_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'progress'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserAchievementGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#set_achievement_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an achievement definition
    # The existing generated rule, if any, will be deleted. A new rule will be created if a trigger event name is specified in the new version.
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [AchievementDefinitionResource] :achievement The achievement definition
    # @return [AchievementDefinitionResource]
    def update_achievement(name, opts = {})
      data, _status_code, _headers = update_achievement_with_http_info(name, opts)
      return data
    end

    # Update an achievement definition
    # The existing generated rule, if any, will be deleted. A new rule will be created if a trigger event name is specified in the new version.
    # @param name The name of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [AchievementDefinitionResource] :achievement The achievement definition
    # @return [Array<(AchievementDefinitionResource, Fixnum, Hash)>] AchievementDefinitionResource data, response status code and response headers
    def update_achievement_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.update_achievement ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationAchievementsApi.update_achievement"
      end
      # resource path
      local_var_path = "/achievements/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'achievement'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AchievementDefinitionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#update_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an achievement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :template The updated template
    # @return [TemplateResource]
    def update_achievement_template(id, opts = {})
      data, _status_code, _headers = update_achievement_template_with_http_info(id, opts)
      return data
    end

    # Update an achievement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :template The updated template
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_achievement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationAchievementsApi.update_achievement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GamificationAchievementsApi.update_achievement_template"
      end
      # resource path
      local_var_path = "/achievements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationAchievementsApi#update_achievement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
