=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class GamificationLevelingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a level schema
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LevelingResource] :level The level schema definition
    # @return [LevelingResource]
    def create_level(opts = {})
      data, _status_code, _headers = create_level_with_http_info(opts)
      return data
    end

    # Create a level schema
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LevelingResource] :level The level schema definition
    # @return [Array<(LevelingResource, Fixnum, Hash)>] LevelingResource data, response status code and response headers
    def create_level_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.create_level ..."
      end
      # resource path
      local_var_path = "/leveling"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'level'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#create_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_level(name, opts = {})
      delete_level_with_http_info(name, opts)
      return nil
    end

    # Delete a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_level_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.delete_level ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.delete_level"
      end
      # resource path
      local_var_path = "/leveling/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#delete_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [LevelingResource]
    def get_level(name, opts = {})
      data, _status_code, _headers = get_level_with_http_info(name, opts)
      return data
    end

    # Retrieve a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [Array<(LevelingResource, Fixnum, Hash)>] LevelingResource data, response status code and response headers
    def get_level_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.get_level ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.get_level"
      end
      # resource path
      local_var_path = "/leveling/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#get_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the list of triggers that can be used to trigger a leveling progress update
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<BreTriggerResource>]
    def get_level_triggers(opts = {})
      data, _status_code, _headers = get_level_triggers_with_http_info(opts)
      return data
    end

    # Get the list of triggers that can be used to trigger a leveling progress update
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<BreTriggerResource>, Fixnum, Hash)>] Array<BreTriggerResource> data, response status code and response headers
    def get_level_triggers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.get_level_triggers ..."
      end
      # resource path
      local_var_path = "/leveling/triggers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<BreTriggerResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#get_level_triggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search levels
    # Get a list of levels schemas with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for level schemas whose name contains a given string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to name:ASC)
    # @return [PageResourceLevelingResource]
    def get_levels(opts = {})
      data, _status_code, _headers = get_levels_with_http_info(opts)
      return data
    end

    # List and search levels
    # Get a list of levels schemas with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for level schemas whose name contains a given string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceLevelingResource, Fixnum, Hash)>] PageResourceLevelingResource data, response status code and response headers
    def get_levels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.get_levels ..."
      end
      # resource path
      local_var_path = "/leveling"

      # query parameters
      query_params = {}
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceLevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#get_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user's progress for a given level schema
    # 
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [UserLevelingResource]
    def get_user_level(user_id, name, opts = {})
      data, _status_code, _headers = get_user_level_with_http_info(user_id, name, opts)
      return data
    end

    # Get a user&#39;s progress for a given level schema
    # 
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserLevelingResource, Fixnum, Hash)>] UserLevelingResource data, response status code and response headers
    def get_user_level_with_http_info(user_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.get_user_level ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationLevelingApi.get_user_level"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.get_user_level"
      end
      # resource path
      local_var_path = "/users/{user_id}/leveling/{name}".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserLevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#get_user_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user's progress for all level schemas
    # Filtering and sorting is based on the LevelingResource object, not the UserLevelingResource that is returned here.
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for level schemas whose name contains a given string
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [PageResourceUserLevelingResource]
    def get_user_levels(user_id, opts = {})
      data, _status_code, _headers = get_user_levels_with_http_info(user_id, opts)
      return data
    end

    # Get a user&#39;s progress for all level schemas
    # Filtering and sorting is based on the LevelingResource object, not the UserLevelingResource that is returned here.
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name Filter for level schemas whose name contains a given string
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceUserLevelingResource, Fixnum, Hash)>] PageResourceUserLevelingResource data, response status code and response headers
    def get_user_levels_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.get_user_levels ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationLevelingApi.get_user_levels"
      end
      # resource path
      local_var_path = "/users/{user_id}/leveling".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserLevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#get_user_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or create a leveling progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise the provided value will be added to it. May be negative. If progress meets or exceeds the level's max_value it will be marked as earned and a BRE event will be triggered for the <code>BreAchievementEarnedTrigger</code>.
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The amount of progress to add
    # @return [nil]
    def increment_progress(user_id, name, opts = {})
      increment_progress_with_http_info(user_id, name, opts)
      return nil
    end

    # Update or create a leveling progress record for a user
    # If no progress record yet exists for the user, it will be created. Otherwise the provided value will be added to it. May be negative. If progress meets or exceeds the level&#39;s max_value it will be marked as earned and a BRE event will be triggered for the &lt;code&gt;BreAchievementEarnedTrigger&lt;/code&gt;.
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The amount of progress to add
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def increment_progress_with_http_info(user_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.increment_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationLevelingApi.increment_progress"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.increment_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/leveling/{name}/progress".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'progress'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#increment_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set leveling progress for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated to the provided value. If progress meets or exceeds the level's max_value it will be marked as earned and a BRE event will be triggered for the <code>BreAchievementEarnedTrigger</code>.
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The new progress amount
    # @return [nil]
    def set_progress(user_id, name, opts = {})
      set_progress_with_http_info(user_id, name, opts)
      return nil
    end

    # Set leveling progress for a user
    # If no progress record yet exists for the user, it will be created. Otherwise it will be updated to the provided value. If progress meets or exceeds the level&#39;s max_value it will be marked as earned and a BRE event will be triggered for the &lt;code&gt;BreAchievementEarnedTrigger&lt;/code&gt;.
    # @param user_id The id of the user
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :progress The new progress amount
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_progress_with_http_info(user_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.set_progress ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling GamificationLevelingApi.set_progress"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.set_progress"
      end
      # resource path
      local_var_path = "/users/{user_id}/leveling/{name}/progress".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'progress'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#set_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [LevelingResource] :new_level The level schema definition
    # @return [LevelingResource]
    def update_level(name, opts = {})
      data, _status_code, _headers = update_level_with_http_info(name, opts)
      return data
    end

    # Update a level
    # 
    # @param name The level schema name
    # @param [Hash] opts the optional parameters
    # @option opts [LevelingResource] :new_level The level schema definition
    # @return [Array<(LevelingResource, Fixnum, Hash)>] LevelingResource data, response status code and response headers
    def update_level_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GamificationLevelingApi.update_level ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GamificationLevelingApi.update_level"
      end
      # resource path
      local_var_path = "/leveling/{name}".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'new_level'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LevelingResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamificationLevelingApi#update_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
