=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module KnetikCloudClient
  class InvoicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create an invoice
    # Create an invoice(s) by providing a cart GUID. Note that there may be multiple invoices created, one per vendor.
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceCreateRequest] :req Invoice to be created
    # @return [Array<InvoiceResource>]
    def create_invoice(opts = {})
      data, _status_code, _headers = create_invoice_with_http_info(opts)
      return data
    end

    # Create an invoice
    # Create an invoice(s) by providing a cart GUID. Note that there may be multiple invoices created, one per vendor.
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceCreateRequest] :req Invoice to be created
    # @return [Array<(Array<InvoiceResource>, Fixnum, Hash)>] Array<InvoiceResource> data, response status code and response headers
    def create_invoice_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.create_invoice ..."
      end
      # resource path
      local_var_path = "/invoices"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'req'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InvoiceResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists available fulfillment statuses
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_ful_fillment_statuses(opts = {})
      data, _status_code, _headers = get_ful_fillment_statuses_with_http_info(opts)
      return data
    end

    # Lists available fulfillment statuses
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_ful_fillment_statuses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.get_ful_fillment_statuses ..."
      end
      # resource path
      local_var_path = "/invoices/fulfillment-statuses"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_ful_fillment_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResource]
    def get_invoice(id, opts = {})
      data, _status_code, _headers = get_invoice_with_http_info(id, opts)
      return data
    end

    # Retrieve an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResource, Fixnum, Hash)>] InvoiceResource data, response status code and response headers
    def get_invoice_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.get_invoice ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.get_invoice" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InvoiceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List invoice logs
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceInvoiceLogEntry]
    def get_invoice_logs(id, opts = {})
      data, _status_code, _headers = get_invoice_logs_with_http_info(id, opts)
      return data
    end

    # List invoice logs
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceInvoiceLogEntry, Fixnum, Hash)>] PageResourceInvoiceLogEntry data, response status code and response headers
    def get_invoice_logs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.get_invoice_logs ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.get_invoice_logs" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/logs".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceInvoiceLogEntry')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve invoices
    # Without INVOICES_ADMIN permission the results are automatically filtered for only the logged in user's invoices. It is recomended however that filter_user be added to avoid issues for admin users accidentally getting additional invoices.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_user The id of a user to get invoices for. Automtically added if not being called with admin permissions.
    # @option opts [String] :filter_email Filters invoices by customer&#39;s email. Admins only.
    # @option opts [String] :filter_fulfillment_status Filters invoices by fulfillment status type. Can be a comma separated list of statuses
    # @option opts [String] :filter_payment_status Filters invoices by payment status type. Can be a comma separated list of statuses
    # @option opts [String] :filter_item_name Filters invoices by item name containing the given string
    # @option opts [String] :filter_external_ref Filters invoices by external reference.
    # @option opts [String] :filter_created_date Filters invoices by creation date. Multiple values possible for range search. Format: filter_created_date&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ) and ts is a unix timestamp in seconds. Ex: filter_created_date&#x3D;GT,1452154258,LT,1554254874
    # @option opts [Object] :filter_vendor_ids Filters invoices for ones from one of the vendors whose id is in the given comma separated list
    # @option opts [String] :filter_currency Filters invoices by currency. ISO3 currency code
    # @option opts [String] :filter_shipping_state_name Filters invoices by shipping address: Exact match state name
    # @option opts [String] :filter_shipping_country_name Filters invoices by shipping address: Exact match country name
    # @option opts [String] :filter_shipping Filters invoices by shipping price. Multiple values possible for range search. Format: filter_shipping&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ). Ex: filter_shipping&#x3D;GT,14.58,LT,15.54
    # @option opts [String] :filter_vendor_name Filters invoices by vendor name starting with given string
    # @option opts [String] :filter_sku Filters invoices by item sku
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to 1)
    # @return [PageResourceInvoiceResource]
    def get_invoices(opts = {})
      data, _status_code, _headers = get_invoices_with_http_info(opts)
      return data
    end

    # Retrieve invoices
    # Without INVOICES_ADMIN permission the results are automatically filtered for only the logged in user&#39;s invoices. It is recomended however that filter_user be added to avoid issues for admin users accidentally getting additional invoices.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_user The id of a user to get invoices for. Automtically added if not being called with admin permissions.
    # @option opts [String] :filter_email Filters invoices by customer&#39;s email. Admins only.
    # @option opts [String] :filter_fulfillment_status Filters invoices by fulfillment status type. Can be a comma separated list of statuses
    # @option opts [String] :filter_payment_status Filters invoices by payment status type. Can be a comma separated list of statuses
    # @option opts [String] :filter_item_name Filters invoices by item name containing the given string
    # @option opts [String] :filter_external_ref Filters invoices by external reference.
    # @option opts [String] :filter_created_date Filters invoices by creation date. Multiple values possible for range search. Format: filter_created_date&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ) and ts is a unix timestamp in seconds. Ex: filter_created_date&#x3D;GT,1452154258,LT,1554254874
    # @option opts [Object] :filter_vendor_ids Filters invoices for ones from one of the vendors whose id is in the given comma separated list
    # @option opts [String] :filter_currency Filters invoices by currency. ISO3 currency code
    # @option opts [String] :filter_shipping_state_name Filters invoices by shipping address: Exact match state name
    # @option opts [String] :filter_shipping_country_name Filters invoices by shipping address: Exact match country name
    # @option opts [String] :filter_shipping Filters invoices by shipping price. Multiple values possible for range search. Format: filter_shipping&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ). Ex: filter_shipping&#x3D;GT,14.58,LT,15.54
    # @option opts [String] :filter_vendor_name Filters invoices by vendor name starting with given string
    # @option opts [String] :filter_sku Filters invoices by item sku
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceInvoiceResource, Fixnum, Hash)>] PageResourceInvoiceResource data, response status code and response headers
    def get_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.get_invoices ..."
      end
      # resource path
      local_var_path = "/invoices"

      # query parameters
      query_params = {}
      query_params[:'filter_user'] = opts[:'filter_user'] if !opts[:'filter_user'].nil?
      query_params[:'filter_email'] = opts[:'filter_email'] if !opts[:'filter_email'].nil?
      query_params[:'filter_fulfillment_status'] = opts[:'filter_fulfillment_status'] if !opts[:'filter_fulfillment_status'].nil?
      query_params[:'filter_payment_status'] = opts[:'filter_payment_status'] if !opts[:'filter_payment_status'].nil?
      query_params[:'filter_item_name'] = opts[:'filter_item_name'] if !opts[:'filter_item_name'].nil?
      query_params[:'filter_external_ref'] = opts[:'filter_external_ref'] if !opts[:'filter_external_ref'].nil?
      query_params[:'filter_created_date'] = opts[:'filter_created_date'] if !opts[:'filter_created_date'].nil?
      query_params[:'filter_vendor_ids'] = opts[:'filter_vendor_ids'] if !opts[:'filter_vendor_ids'].nil?
      query_params[:'filter_currency'] = opts[:'filter_currency'] if !opts[:'filter_currency'].nil?
      query_params[:'filter_shipping_state_name'] = opts[:'filter_shipping_state_name'] if !opts[:'filter_shipping_state_name'].nil?
      query_params[:'filter_shipping_country_name'] = opts[:'filter_shipping_country_name'] if !opts[:'filter_shipping_country_name'].nil?
      query_params[:'filter_shipping'] = opts[:'filter_shipping'] if !opts[:'filter_shipping'].nil?
      query_params[:'filter_vendor_name'] = opts[:'filter_vendor_name'] if !opts[:'filter_vendor_name'].nil?
      query_params[:'filter_sku'] = opts[:'filter_sku'] if !opts[:'filter_sku'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceInvoiceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists available payment statuses
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_payment_statuses(opts = {})
      data, _status_code, _headers = get_payment_statuses_with_http_info(opts)
      return data
    end

    # Lists available payment statuses
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_payment_statuses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.get_payment_statuses ..."
      end
      # resource path
      local_var_path = "/invoices/payment-statuses"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_payment_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger payment of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [PayBySavedMethodRequest] :request Payment info
    # @return [nil]
    def pay_invoice(id, opts = {})
      pay_invoice_with_http_info(id, opts)
      return nil
    end

    # Trigger payment of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [PayBySavedMethodRequest] :request Payment info
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def pay_invoice_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.pay_invoice ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.pay_invoice" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/payments".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#pay_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the external reference of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [String] :external_ref External reference info
    # @return [nil]
    def set_external_ref(id, opts = {})
      set_external_ref_with_http_info(id, opts)
      return nil
    end

    # Set the external reference of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [String] :external_ref External reference info
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_external_ref_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.set_external_ref ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.set_external_ref" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/external-ref".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'external_ref'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#set_external_ref\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the fulfillment status of an invoice item
    # This allows external fulfillment systems to report success or failure. Fulfillment status changes are restricted by a specific flow determining which status can lead to which.
    # @param id The id of the invoice
    # @param sku The sku of an item in the invoice
    # @param status The new fulfillment status for the item. Additional options may be available based on configuration.  Allowable values:  &#39;unfulfilled&#39;, &#39;fulfilled&#39;, &#39;not fulfillable&#39;, &#39;failed&#39;, &#39;processing&#39;, &#39;failed_permanent&#39;, &#39;delayed&#39;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_invoice_item_fulfillment_status(id, sku, status, opts = {})
      set_invoice_item_fulfillment_status_with_http_info(id, sku, status, opts)
      return nil
    end

    # Set the fulfillment status of an invoice item
    # This allows external fulfillment systems to report success or failure. Fulfillment status changes are restricted by a specific flow determining which status can lead to which.
    # @param id The id of the invoice
    # @param sku The sku of an item in the invoice
    # @param status The new fulfillment status for the item. Additional options may be available based on configuration.  Allowable values:  &#39;unfulfilled&#39;, &#39;fulfilled&#39;, &#39;not fulfillable&#39;, &#39;failed&#39;, &#39;processing&#39;, &#39;failed_permanent&#39;, &#39;delayed&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_invoice_item_fulfillment_status_with_http_info(id, sku, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.set_invoice_item_fulfillment_status ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.set_invoice_item_fulfillment_status" if id.nil?
      # verify the required parameter 'sku' is set
      fail ArgumentError, "Missing the required parameter 'sku' when calling InvoicesApi.set_invoice_item_fulfillment_status" if sku.nil?
      # verify the required parameter 'status' is set
      fail ArgumentError, "Missing the required parameter 'status' when calling InvoicesApi.set_invoice_item_fulfillment_status" if status.nil?
      # resource path
      local_var_path = "/invoices/{id}/items/{sku}/fulfillment-status".sub('{' + 'id' + '}', id.to_s).sub('{' + 'sku' + '}', sku.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(status)
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#set_invoice_item_fulfillment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the order notes of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_notes Payment status info
    # @return [nil]
    def set_order_notes(id, opts = {})
      set_order_notes_with_http_info(id, opts)
      return nil
    end

    # Set the order notes of an invoice
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_notes Payment status info
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_order_notes_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.set_order_notes ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.set_order_notes" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/order-notes".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'order_notes'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#set_order_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the payment status of an invoice
    # This may trigger fulfillment if setting the status to 'paid'. This is mainly intended to support external payment systems that cannot be incorporated into the payment method system. Payment status changes are restricted by a specific flow determining which status can lead to which.
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [InvoicePaymentStatusRequest] :request Payment status info
    # @return [nil]
    def set_payment_status(id, opts = {})
      set_payment_status_with_http_info(id, opts)
      return nil
    end

    # Set the payment status of an invoice
    # This may trigger fulfillment if setting the status to &#39;paid&#39;. This is mainly intended to support external payment systems that cannot be incorporated into the payment method system. Payment status changes are restricted by a specific flow determining which status can lead to which.
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [InvoicePaymentStatusRequest] :request Payment status info
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_payment_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.set_payment_status ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.set_payment_status" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/payment-status".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#set_payment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set or update billing info
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [AddressResource] :billing_info_request Address info
    # @return [nil]
    def update_billing_info(id, opts = {})
      update_billing_info_with_http_info(id, opts)
      return nil
    end

    # Set or update billing info
    # 
    # @param id The id of the invoice
    # @param [Hash] opts the optional parameters
    # @option opts [AddressResource] :billing_info_request Address info
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_billing_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: InvoicesApi.update_billing_info ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.update_billing_info" if id.nil?
      # resource path
      local_var_path = "/invoices/{id}/billing-address".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'billing_info_request'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#update_billing_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
