=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class MediaVideosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Adds a user to a video's whitelist
    # Whitelisted users can view video regardless of privacy setting.
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :user_id The user id
    # @return [nil]
    def add_user_to_video_whitelist(id, opts = {})
      add_user_to_video_whitelist_with_http_info(id, opts)
      return nil
    end

    # Adds a user to a video&#39;s whitelist
    # Whitelisted users can view video regardless of privacy setting.
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [IntWrapper] :user_id The user id
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_user_to_video_whitelist_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_user_to_video_whitelist ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.add_user_to_video_whitelist"
      end
      # resource path
      local_var_path = "/media/videos/{id}/whitelist".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_id'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_user_to_video_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds a new video in the system
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VideoResource] :video_resource The video object
    # @return [VideoResource]
    def add_video(opts = {})
      data, _status_code, _headers = add_video_with_http_info(opts)
      return data
    end

    # Adds a new video in the system
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VideoResource] :video_resource The video object
    # @return [Array<(VideoResource, Fixnum, Hash)>] VideoResource data, response status code and response headers
    def add_video_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_video ..."
      end
      # resource path
      local_var_path = "/media/videos"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'video_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a new video comment
    # 
    # @param video_id The video id 
    # @param [Hash] opts the optional parameters
    # @option opts [CommentResource] :comment_resource The comment object
    # @return [CommentResource]
    def add_video_comment(video_id, opts = {})
      data, _status_code, _headers = add_video_comment_with_http_info(video_id, opts)
      return data
    end

    # Add a new video comment
    # 
    # @param video_id The video id 
    # @param [Hash] opts the optional parameters
    # @option opts [CommentResource] :comment_resource The comment object
    # @return [Array<(CommentResource, Fixnum, Hash)>] CommentResource data, response status code and response headers
    def add_video_comment_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_video_comment ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.add_video_comment"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/comments".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'comment_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CommentResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_video_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds a contributor to a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [ContributionResource] :contribution_resource The contribution object
    # @return [nil]
    def add_video_contributor(video_id, opts = {})
      add_video_contributor_with_http_info(video_id, opts)
      return nil
    end

    # Adds a contributor to a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [ContributionResource] :contribution_resource The contribution object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_video_contributor_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_video_contributor ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.add_video_contributor"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/contributors".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'contribution_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_video_contributor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a new flag
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :reason The flag reason
    # @return [FlagResource]
    def add_video_flag(video_id, opts = {})
      data, _status_code, _headers = add_video_flag_with_http_info(video_id, opts)
      return data
    end

    # Add a new flag
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :reason The flag reason
    # @return [Array<(FlagResource, Fixnum, Hash)>] FlagResource data, response status code and response headers
    def add_video_flag_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_video_flag ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.add_video_flag"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/moderation".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'reason'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FlagResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_video_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds one or more existing videos as related to this one
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [VideoRelationshipResource] :video_relationship_resource The video relationship object 
    # @return [VideoRelationshipResource]
    def add_video_relationships(video_id, opts = {})
      data, _status_code, _headers = add_video_relationships_with_http_info(video_id, opts)
      return data
    end

    # Adds one or more existing videos as related to this one
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [VideoRelationshipResource] :video_relationship_resource The video relationship object 
    # @return [Array<(VideoRelationshipResource, Fixnum, Hash)>] VideoRelationshipResource data, response status code and response headers
    def add_video_relationships_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.add_video_relationships ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.add_video_relationships"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/related".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'video_relationship_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoRelationshipResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#add_video_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a video disposition
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [DispositionResource] :disposition_resource The disposition object
    # @return [DispositionResource]
    def create_video_disposition(video_id, opts = {})
      data, _status_code, _headers = create_video_disposition_with_http_info(video_id, opts)
      return data
    end

    # Create a video disposition
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [DispositionResource] :disposition_resource The disposition object
    # @return [Array<(DispositionResource, Fixnum, Hash)>] DispositionResource data, response status code and response headers
    def create_video_disposition_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.create_video_disposition ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.create_video_disposition"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/dispositions".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'disposition_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DispositionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#create_video_disposition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a video from the system if no resources are attached to it
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_video(id, opts = {})
      delete_video_with_http_info(id, opts)
      return nil
    end

    # Deletes a video from the system if no resources are attached to it
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_video_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.delete_video ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.delete_video"
      end
      # resource path
      local_var_path = "/media/videos/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#delete_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a video comment
    # 
    # @param video_id The video id
    # @param id The comment id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_video_comment(video_id, id, opts = {})
      delete_video_comment_with_http_info(video_id, id, opts)
      return nil
    end

    # Delete a video comment
    # 
    # @param video_id The video id
    # @param id The comment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_video_comment_with_http_info(video_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.delete_video_comment ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.delete_video_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.delete_video_comment"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/comments/{id}".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#delete_video_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a video disposition
    # 
    # @param disposition_id The disposition id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_video_disposition(disposition_id, opts = {})
      delete_video_disposition_with_http_info(disposition_id, opts)
      return nil
    end

    # Delete a video disposition
    # 
    # @param disposition_id The disposition id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_video_disposition_with_http_info(disposition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.delete_video_disposition ..."
      end
      # verify the required parameter 'disposition_id' is set
      if @api_client.config.client_side_validation && disposition_id.nil?
        fail ArgumentError, "Missing the required parameter 'disposition_id' when calling MediaVideosApi.delete_video_disposition"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/dispositions/{disposition_id}".sub('{' + 'disposition_id' + '}', disposition_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#delete_video_disposition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a flag
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_video_flag(video_id, opts = {})
      delete_video_flag_with_http_info(video_id, opts)
      return nil
    end

    # Delete a flag
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_video_flag_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.delete_video_flag ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.delete_video_flag"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/moderation".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#delete_video_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a video's relationship
    # 
    # @param video_id The video id
    # @param id The relationship id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_video_relationship(video_id, id, opts = {})
      delete_video_relationship_with_http_info(video_id, id, opts)
      return nil
    end

    # Delete a video&#39;s relationship
    # 
    # @param video_id The video id
    # @param id The relationship id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_video_relationship_with_http_info(video_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.delete_video_relationship ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.delete_video_relationship"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.delete_video_relationship"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/related/{id}".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#delete_video_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user videos
    # 
    # @param user_id The user id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :exclude_flagged Skip videos that have been flagged by the current user (default to true)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceVideoResource]
    def get_user_videos(user_id, opts = {})
      data, _status_code, _headers = get_user_videos_with_http_info(user_id, opts)
      return data
    end

    # Get user videos
    # 
    # @param user_id The user id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :exclude_flagged Skip videos that have been flagged by the current user
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceVideoResource, Fixnum, Hash)>] PageResourceVideoResource data, response status code and response headers
    def get_user_videos_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_user_videos ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling MediaVideosApi.get_user_videos"
      end
      # resource path
      local_var_path = "/users/{user_id}/videos".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'exclude_flagged'] = opts[:'exclude_flagged'] if !opts[:'exclude_flagged'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceVideoResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_user_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Loads a specific video details
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [VideoResource]
    def get_video(id, opts = {})
      data, _status_code, _headers = get_video_with_http_info(id, opts)
      return data
    end

    # Loads a specific video details
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoResource, Fixnum, Hash)>] VideoResource data, response status code and response headers
    def get_video_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_video ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.get_video"
      end
      # resource path
      local_var_path = "/media/videos/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a page of comments for a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceCommentResource]
    def get_video_comments(video_id, opts = {})
      data, _status_code, _headers = get_video_comments_with_http_info(video_id, opts)
      return data
    end

    # Returns a page of comments for a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceCommentResource, Fixnum, Hash)>] PageResourceCommentResource data, response status code and response headers
    def get_video_comments_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_video_comments ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.get_video_comments"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/comments".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceCommentResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_video_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a page of dispositions for a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceDispositionResource]
    def get_video_dispositions(video_id, opts = {})
      data, _status_code, _headers = get_video_dispositions_with_http_info(video_id, opts)
      return data
    end

    # Returns a page of dispositions for a video
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceDispositionResource, Fixnum, Hash)>] PageResourceDispositionResource data, response status code and response headers
    def get_video_dispositions_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_video_dispositions ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.get_video_dispositions"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/dispositions".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceDispositionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_video_dispositions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a page of video relationships
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceVideoRelationshipResource]
    def get_video_relationships(video_id, opts = {})
      data, _status_code, _headers = get_video_relationships_with_http_info(video_id, opts)
      return data
    end

    # Returns a page of video relationships
    # 
    # @param video_id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceVideoRelationshipResource, Fixnum, Hash)>] PageResourceVideoRelationshipResource data, response status code and response headers
    def get_video_relationships_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_video_relationships ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.get_video_relationships"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/related".sub('{' + 'video_id' + '}', video_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceVideoRelationshipResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_video_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search videos using the documented filters
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :exclude_flagged Skip videos that have been flagged by the current user (default to true)
    # @option opts [Integer] :filter_videos_by_uploader Filter for videos by uploader id
    # @option opts [String] :filter_category Filter for videos from a specific category by id
    # @option opts [String] :filter_tagset Filter for videos with specified tags (separated by comma)
    # @option opts [String] :filter_videos_by_name Filter for videos which name *STARTS* with the given string
    # @option opts [Integer] :filter_videos_by_contributor Filter for videos with contribution from the artist specified by ID
    # @option opts [Integer] :filter_videos_by_author Filter for videos with an artist as author specified by ID
    # @option opts [BOOLEAN] :filter_has_author Filter for videos that have an author set if true, or that have no author if false
    # @option opts [BOOLEAN] :filter_has_uploader Filter for videos that have an uploader set if true, or that have no uploader if false
    # @option opts [String] :filter_related_to Filter for videos that have designated a particular video as the TO of a relationship. Pattern should match VIDEO_ID or VIDEO_ID:DETAILS to match with a specific details string as well
    # @option opts [BOOLEAN] :filter_friends Filter for videos uploaded by friends. &#39;true&#39; for friends of the caller (requires user token) or a user id for a specific user&#39;s friends (requires VIDEOS_ADMIN permission)
    # @option opts [String] :filter_disposition Filter for videos a given user has a given disposition towards. USER_ID:DISPOSITION where USER_ID is the id of the user who has this disposition or &#39;me&#39; for the caller (requires user token for &#39;me&#39;) and DISPOSITION is the name of the disposition. E.G. filter_disposition&#x3D;123:like or filter_disposition&#x3D;me:favorite
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to author:ASC)
    # @return [PageResourceVideoResource]
    def get_videos(opts = {})
      data, _status_code, _headers = get_videos_with_http_info(opts)
      return data
    end

    # Search videos using the documented filters
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :exclude_flagged Skip videos that have been flagged by the current user
    # @option opts [Integer] :filter_videos_by_uploader Filter for videos by uploader id
    # @option opts [String] :filter_category Filter for videos from a specific category by id
    # @option opts [String] :filter_tagset Filter for videos with specified tags (separated by comma)
    # @option opts [String] :filter_videos_by_name Filter for videos which name *STARTS* with the given string
    # @option opts [Integer] :filter_videos_by_contributor Filter for videos with contribution from the artist specified by ID
    # @option opts [Integer] :filter_videos_by_author Filter for videos with an artist as author specified by ID
    # @option opts [BOOLEAN] :filter_has_author Filter for videos that have an author set if true, or that have no author if false
    # @option opts [BOOLEAN] :filter_has_uploader Filter for videos that have an uploader set if true, or that have no uploader if false
    # @option opts [String] :filter_related_to Filter for videos that have designated a particular video as the TO of a relationship. Pattern should match VIDEO_ID or VIDEO_ID:DETAILS to match with a specific details string as well
    # @option opts [BOOLEAN] :filter_friends Filter for videos uploaded by friends. &#39;true&#39; for friends of the caller (requires user token) or a user id for a specific user&#39;s friends (requires VIDEOS_ADMIN permission)
    # @option opts [String] :filter_disposition Filter for videos a given user has a given disposition towards. USER_ID:DISPOSITION where USER_ID is the id of the user who has this disposition or &#39;me&#39; for the caller (requires user token for &#39;me&#39;) and DISPOSITION is the name of the disposition. E.G. filter_disposition&#x3D;123:like or filter_disposition&#x3D;me:favorite
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceVideoResource, Fixnum, Hash)>] PageResourceVideoResource data, response status code and response headers
    def get_videos_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.get_videos ..."
      end
      # resource path
      local_var_path = "/media/videos"

      # query parameters
      query_params = {}
      query_params[:'exclude_flagged'] = opts[:'exclude_flagged'] if !opts[:'exclude_flagged'].nil?
      query_params[:'filter_videos_by_uploader'] = opts[:'filter_videos_by_uploader'] if !opts[:'filter_videos_by_uploader'].nil?
      query_params[:'filter_category'] = opts[:'filter_category'] if !opts[:'filter_category'].nil?
      query_params[:'filter_tagset'] = opts[:'filter_tagset'] if !opts[:'filter_tagset'].nil?
      query_params[:'filter_videos_by_name'] = opts[:'filter_videos_by_name'] if !opts[:'filter_videos_by_name'].nil?
      query_params[:'filter_videos_by_contributor'] = opts[:'filter_videos_by_contributor'] if !opts[:'filter_videos_by_contributor'].nil?
      query_params[:'filter_videos_by_author'] = opts[:'filter_videos_by_author'] if !opts[:'filter_videos_by_author'].nil?
      query_params[:'filter_has_author'] = opts[:'filter_has_author'] if !opts[:'filter_has_author'].nil?
      query_params[:'filter_has_uploader'] = opts[:'filter_has_uploader'] if !opts[:'filter_has_uploader'].nil?
      query_params[:'filter_related_to'] = opts[:'filter_related_to'] if !opts[:'filter_related_to'].nil?
      query_params[:'filter_friends'] = opts[:'filter_friends'] if !opts[:'filter_friends'].nil?
      query_params[:'filter_disposition'] = opts[:'filter_disposition'] if !opts[:'filter_disposition'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceVideoResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#get_videos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes a user from a video's whitelist
    # Remove the user with the id given in the path from the whitelist of users that can view this video regardless of privacy setting.
    # @param video_id The video id
    # @param id The user id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_user_from_video_whitelist(video_id, id, opts = {})
      remove_user_from_video_whitelist_with_http_info(video_id, id, opts)
      return nil
    end

    # Removes a user from a video&#39;s whitelist
    # Remove the user with the id given in the path from the whitelist of users that can view this video regardless of privacy setting.
    # @param video_id The video id
    # @param id The user id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_user_from_video_whitelist_with_http_info(video_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.remove_user_from_video_whitelist ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.remove_user_from_video_whitelist"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.remove_user_from_video_whitelist"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/whitelist/{id}".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#remove_user_from_video_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes a contributor from a video
    # 
    # @param video_id The video id
    # @param id The contributor id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_video_contributor(video_id, id, opts = {})
      remove_video_contributor_with_http_info(video_id, id, opts)
      return nil
    end

    # Removes a contributor from a video
    # 
    # @param video_id The video id
    # @param id The contributor id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_video_contributor_with_http_info(video_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.remove_video_contributor ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.remove_video_contributor"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.remove_video_contributor"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/contributors/{id}".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#remove_video_contributor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modifies a video's details
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [VideoResource] :video_resource The video object
    # @return [nil]
    def update_video(id, opts = {})
      update_video_with_http_info(id, opts)
      return nil
    end

    # Modifies a video&#39;s details
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @option opts [VideoResource] :video_resource The video object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_video_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.update_video ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.update_video"
      end
      # resource path
      local_var_path = "/media/videos/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'video_resource'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#update_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a video comment
    # 
    # @param video_id The video id
    # @param id The comment id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :content The comment content
    # @return [nil]
    def update_video_comment(video_id, id, opts = {})
      update_video_comment_with_http_info(video_id, id, opts)
      return nil
    end

    # Update a video comment
    # 
    # @param video_id The video id
    # @param id The comment id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :content The comment content
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_video_comment_with_http_info(video_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.update_video_comment ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.update_video_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.update_video_comment"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/comments/{id}/content".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'content'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#update_video_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a video's relationship details
    # 
    # @param video_id The video id
    # @param relationship_id The relationship id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :details The video relationship details
    # @return [nil]
    def update_video_relationship(video_id, relationship_id, opts = {})
      update_video_relationship_with_http_info(video_id, relationship_id, opts)
      return nil
    end

    # Update a video&#39;s relationship details
    # 
    # @param video_id The video id
    # @param relationship_id The relationship id
    # @param [Hash] opts the optional parameters
    # @option opts [StringWrapper] :details The video relationship details
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_video_relationship_with_http_info(video_id, relationship_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.update_video_relationship ..."
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling MediaVideosApi.update_video_relationship"
      end
      # verify the required parameter 'relationship_id' is set
      if @api_client.config.client_side_validation && relationship_id.nil?
        fail ArgumentError, "Missing the required parameter 'relationship_id' when calling MediaVideosApi.update_video_relationship"
      end
      # resource path
      local_var_path = "/media/videos/{video_id}/related/{id}/relationship_details".sub('{' + 'video_id' + '}', video_id.to_s).sub('{' + 'relationship_id' + '}', relationship_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'details'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#update_video_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment a video's view count
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def view_video(id, opts = {})
      view_video_with_http_info(id, opts)
      return nil
    end

    # Increment a video&#39;s view count
    # 
    # @param id The video id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def view_video_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MediaVideosApi.view_video ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MediaVideosApi.view_video"
      end
      # resource path
      local_var_path = "/media/videos/{id}/views".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaVideosApi#view_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
