=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class MessagingTopicsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Enable or disable messages for a user
    # Useful for opt-out options on a single topic. Consider multiple topics for multiple opt-out options. <br><br><b>Permissions Needed:</b> TOPICS_ADMIN or self
    # @param id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param disabled disabled
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_topic_subscriber(id, user_id, disabled, opts = {})
      disable_topic_subscriber_with_http_info(id, user_id, disabled, opts)
      return nil
    end

    # Enable or disable messages for a user
    # Useful for opt-out options on a single topic. Consider multiple topics for multiple opt-out options. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; TOPICS_ADMIN or self
    # @param id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param disabled disabled
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def disable_topic_subscriber_with_http_info(id, user_id, disabled, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MessagingTopicsApi.disable_topic_subscriber ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MessagingTopicsApi.disable_topic_subscriber"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling MessagingTopicsApi.disable_topic_subscriber"
      end
      # verify the required parameter 'disabled' is set
      if @api_client.config.client_side_validation && disabled.nil?
        fail ArgumentError, "Missing the required parameter 'disabled' when calling MessagingTopicsApi.disable_topic_subscriber"
      end
      # resource path
      local_var_path = "/messaging/topics/{id}/subscribers/{user_id}/disabled".sub('{' + 'id' + '}', id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(disabled)
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingTopicsApi#disable_topic_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a subscriber to a topic
    # <b>Permissions Needed:</b> TOPICS_ADMIN or self
    # @param id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [TopicSubscriberResource]
    def get_topic_subscriber(id, user_id, opts = {})
      data, _status_code, _headers = get_topic_subscriber_with_http_info(id, user_id, opts)
      return data
    end

    # Get a subscriber to a topic
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TOPICS_ADMIN or self
    # @param id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(TopicSubscriberResource, Fixnum, Hash)>] TopicSubscriberResource data, response status code and response headers
    def get_topic_subscriber_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MessagingTopicsApi.get_topic_subscriber ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MessagingTopicsApi.get_topic_subscriber"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling MessagingTopicsApi.get_topic_subscriber"
      end
      # resource path
      local_var_path = "/messaging/topics/{id}/subscribers/{user_id}".sub('{' + 'id' + '}', id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TopicSubscriberResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingTopicsApi#get_topic_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all messaging topics for a given user
    # <b>Permissions Needed:</b> TOPICS_ADMIN or self
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [PageResourceTopicResource]
    def get_user_topics(id, opts = {})
      data, _status_code, _headers = get_user_topics_with_http_info(id, opts)
      return data
    end

    # Get all messaging topics for a given user
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; TOPICS_ADMIN or self
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(PageResourceTopicResource, Fixnum, Hash)>] PageResourceTopicResource data, response status code and response headers
    def get_user_topics_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MessagingTopicsApi.get_user_topics ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MessagingTopicsApi.get_user_topics"
      end
      # resource path
      local_var_path = "/users/{id}/topics".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTopicResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingTopicsApi#get_user_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
