=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class NotificationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a notification type
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationTypeResource] :notification_type notificationType
    # @return [NotificationTypeResource]
    def create_notification_type(opts = {})
      data, _status_code, _headers = create_notification_type_with_http_info(opts)
      return data
    end

    # Create a notification type
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationTypeResource] :notification_type notificationType
    # @return [Array<(NotificationTypeResource, Fixnum, Hash)>] NotificationTypeResource data, response status code and response headers
    def create_notification_type_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.create_notification_type ..."
      end
      # resource path
      local_var_path = "/notifications/types"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'notification_type'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotificationTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#create_notification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a notification type
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_notification_type(id, opts = {})
      delete_notification_type_with_http_info(id, opts)
      return nil
    end

    # Delete a notification type
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_notification_type_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.delete_notification_type ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.delete_notification_type"
      end
      # resource path
      local_var_path = "/notifications/types/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#delete_notification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single notification type
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [NotificationTypeResource]
    def get_notification_type(id, opts = {})
      data, _status_code, _headers = get_notification_type_with_http_info(id, opts)
      return data
    end

    # Get a single notification type
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationTypeResource, Fixnum, Hash)>] NotificationTypeResource data, response status code and response headers
    def get_notification_type_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.get_notification_type ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.get_notification_type"
      end
      # resource path
      local_var_path = "/notifications/types/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotificationTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_notification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search notification types
    # Get a list of notification type with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceNotificationTypeResource]
    def get_notification_types(opts = {})
      data, _status_code, _headers = get_notification_types_with_http_info(opts)
      return data
    end

    # List and search notification types
    # Get a list of notification type with optional filtering
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceNotificationTypeResource, Fixnum, Hash)>] PageResourceNotificationTypeResource data, response status code and response headers
    def get_notification_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.get_notification_types ..."
      end
      # resource path
      local_var_path = "/notifications/types"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceNotificationTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_notification_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a user's notification settings for a type
    # 
    # @param type_id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [NotificationUserTypeResource]
    def get_user_notification_info(type_id, user_id, opts = {})
      data, _status_code, _headers = get_user_notification_info_with_http_info(type_id, user_id, opts)
      return data
    end

    # View a user&#39;s notification settings for a type
    # 
    # @param type_id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationUserTypeResource, Fixnum, Hash)>] NotificationUserTypeResource data, response status code and response headers
    def get_user_notification_info_with_http_info(type_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.get_user_notification_info ..."
      end
      # verify the required parameter 'type_id' is set
      if @api_client.config.client_side_validation && type_id.nil?
        fail ArgumentError, "Missing the required parameter 'type_id' when calling NotificationsApi.get_user_notification_info"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.get_user_notification_info"
      end
      # resource path
      local_var_path = "/users/{user_id}/notifications/types/{type_id}".sub('{' + 'type_id' + '}', type_id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotificationUserTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_user_notification_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a user's notification settings
    # 
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceNotificationUserTypeResource]
    def get_user_notification_info_list(user_id, opts = {})
      data, _status_code, _headers = get_user_notification_info_list_with_http_info(user_id, opts)
      return data
    end

    # View a user&#39;s notification settings
    # 
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceNotificationUserTypeResource, Fixnum, Hash)>] PageResourceNotificationUserTypeResource data, response status code and response headers
    def get_user_notification_info_list_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.get_user_notification_info_list ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.get_user_notification_info_list"
      end
      # resource path
      local_var_path = "/users/{user_id}/notifications/types".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceNotificationUserTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_user_notification_info_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get notifications
    # 
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_status filter for notifications with a given status
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceUserNotificationResource]
    def get_user_notifications(id, opts = {})
      data, _status_code, _headers = get_user_notifications_with_http_info(id, opts)
      return data
    end

    # Get notifications
    # 
    # @param id The id of the user or &#39;me&#39;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_status filter for notifications with a given status
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceUserNotificationResource, Fixnum, Hash)>] PageResourceUserNotificationResource data, response status code and response headers
    def get_user_notifications_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.get_user_notifications ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.get_user_notifications"
      end
      if @api_client.config.client_side_validation && opts[:'filter_status'] && !['pending', 'read', 'hidden'].include?(opts[:'filter_status'])
        fail ArgumentError, 'invalid value for "filter_status", must be one of pending, read, hidden'
      end
      # resource path
      local_var_path = "/users/{id}/notifications".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter_status'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserNotificationResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_user_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a notification
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationResource] :notification notification
    # @return [NotificationResource]
    def send_notification(opts = {})
      data, _status_code, _headers = send_notification_with_http_info(opts)
      return data
    end

    # Send a notification
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationResource] :notification notification
    # @return [Array<(NotificationResource, Fixnum, Hash)>] NotificationResource data, response status code and response headers
    def send_notification_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.send_notification ..."
      end
      # resource path
      local_var_path = "/notifications"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'notification'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotificationResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#send_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set notification status
    # 
    # @param user_id The id of the user or &#39;me&#39;
    # @param notification_id The id of the notification
    # @param [Hash] opts the optional parameters
    # @option opts [ValueWrapperstring] :notification status
    # @return [nil]
    def set_user_notification_status(user_id, notification_id, opts = {})
      set_user_notification_status_with_http_info(user_id, notification_id, opts)
      return nil
    end

    # Set notification status
    # 
    # @param user_id The id of the user or &#39;me&#39;
    # @param notification_id The id of the notification
    # @param [Hash] opts the optional parameters
    # @option opts [ValueWrapperstring] :notification status
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_user_notification_status_with_http_info(user_id, notification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.set_user_notification_status ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.set_user_notification_status"
      end
      # verify the required parameter 'notification_id' is set
      if @api_client.config.client_side_validation && notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'notification_id' when calling NotificationsApi.set_user_notification_status"
      end
      # resource path
      local_var_path = "/users/{user_id}/notifications/{notification_id}/status".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'notification_id' + '}', notification_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'notification'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#set_user_notification_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable or disable direct notifications for a user
    # Allows enabling or disabling messages for a given notification type when sent direct to the user. Notifications can still be retrieved by endpoint. For notifications broadcased to a topic, see the topic service to disable messages for the user there.
    # @param type_id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param silenced silenced
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def silence_direct_notifications(type_id, user_id, silenced, opts = {})
      silence_direct_notifications_with_http_info(type_id, user_id, silenced, opts)
      return nil
    end

    # Enable or disable direct notifications for a user
    # Allows enabling or disabling messages for a given notification type when sent direct to the user. Notifications can still be retrieved by endpoint. For notifications broadcased to a topic, see the topic service to disable messages for the user there.
    # @param type_id The id of the topic
    # @param user_id The id of the subscriber or &#39;me&#39;
    # @param silenced silenced
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def silence_direct_notifications_with_http_info(type_id, user_id, silenced, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.silence_direct_notifications ..."
      end
      # verify the required parameter 'type_id' is set
      if @api_client.config.client_side_validation && type_id.nil?
        fail ArgumentError, "Missing the required parameter 'type_id' when calling NotificationsApi.silence_direct_notifications"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.silence_direct_notifications"
      end
      # verify the required parameter 'silenced' is set
      if @api_client.config.client_side_validation && silenced.nil?
        fail ArgumentError, "Missing the required parameter 'silenced' when calling NotificationsApi.silence_direct_notifications"
      end
      # resource path
      local_var_path = "/users/{user_id}/notifications/types/{type_id}/silenced".sub('{' + 'type_id' + '}', type_id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(silenced)
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#silence_direct_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a notificationType
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationTypeResource] :notification_type notificationType
    # @return [NotificationTypeResource]
    def update_notification_type(id, opts = {})
      data, _status_code, _headers = update_notification_type_with_http_info(id, opts)
      return data
    end

    # Update a notificationType
    # 
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationTypeResource] :notification_type notificationType
    # @return [Array<(NotificationTypeResource, Fixnum, Hash)>] NotificationTypeResource data, response status code and response headers
    def update_notification_type_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotificationsApi.update_notification_type ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.update_notification_type"
      end
      # resource path
      local_var_path = "/notifications/types/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'notification_type'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotificationTypeResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#update_notification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
