=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class ReportingUsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Returns aggregated endpoint usage information by day
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_day(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_day_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by day
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_day_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_day ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_day"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_day"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['GET', 'HEAD', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'TRACE'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS, TRACE'
      end
      # resource path
      local_var_path = "/reporting/usage/day"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_day\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by hour
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_hour(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_hour_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by hour
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_hour_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_hour ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_hour"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_hour"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['GET', 'HEAD', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'TRACE'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS, TRACE'
      end
      # resource path
      local_var_path = "/reporting/usage/hour"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_hour\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by minute
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_minute(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_minute_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by minute
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_minute_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_minute ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_minute"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_minute"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['GET', 'HEAD', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'TRACE'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS, TRACE'
      end
      # resource path
      local_var_path = "/reporting/usage/minute"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_minute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by month
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object (default to false)
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_month(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_month_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by month
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoint. Removes the url and method from the result object
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_month_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_month ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_month"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_month"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['GET', 'HEAD', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'TRACE'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS, TRACE'
      end
      # resource path
      local_var_path = "/reporting/usage/month"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_month\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns aggregated endpoint usage information by year
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoints. Removes the url and method from the result object (default to false)
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUsageInfo]
    def get_usage_by_year(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_by_year_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns aggregated endpoint usage information by year
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :combine_endpoints Whether to combine counts from different endpoints. Removes the url and method from the result object
    # @option opts [String] :method Filter for a certain endpoint method.  Must include url as well to work
    # @option opts [String] :url Filter for a certain endpoint.  Must include method as well to work
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUsageInfo, Fixnum, Hash)>] PageResourceUsageInfo data, response status code and response headers
    def get_usage_by_year_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_by_year ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_by_year"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_by_year"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['GET', 'HEAD', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'TRACE'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS, TRACE'
      end
      # resource path
      local_var_path = "/reporting/usage/year"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'combine_endpoints'] = opts[:'combine_endpoints'] if !opts[:'combine_endpoints'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUsageInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns list of endpoints called (method and url)
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_usage_endpoints(start_date, end_date, opts = {})
      data, _status_code, _headers = get_usage_endpoints_with_http_info(start_date, end_date, opts)
      return data
    end

    # Returns list of endpoints called (method and url)
    # 
    # @param start_date The beginning of the range being requested, unix timestamp in seconds
    # @param end_date The ending of the range being requested, unix timestamp in seconds
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_usage_endpoints_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReportingUsageApi.get_usage_endpoints ..."
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingUsageApi.get_usage_endpoints"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingUsageApi.get_usage_endpoints"
      end
      # resource path
      local_var_path = "/reporting/usage/endpoints"

      # query parameters
      query_params = {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingUsageApi#get_usage_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
