=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class RuleEngineExpressionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Lookup a specific expression
    # <b>Permissions Needed:</b> BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param type Specifiy the type of expression as returned by the listing endpoint
    # @param [Hash] opts the optional parameters
    # @return [ExpressionResource]
    def get_bre_expression(type, opts = {})
      data, _status_code, _headers = get_bre_expression_with_http_info(type, opts)
      return data
    end

    # Lookup a specific expression
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param type Specifiy the type of expression as returned by the listing endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpressionResource, Fixnum, Hash)>] ExpressionResource data, response status code and response headers
    def get_bre_expression_with_http_info(type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RuleEngineExpressionsApi.get_bre_expression ..."
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling RuleEngineExpressionsApi.get_bre_expression"
      end
      # resource path
      local_var_path = "/bre/expressions/{type}".sub('{' + 'type' + '}', type.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExpressionResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuleEngineExpressionsApi#get_bre_expression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of supported expressions to use in conditions or actions.
    # Each resource contains a type and a definition that are read-only, all the other fields must be provided when using the expression in a rule. <br><br><b>Permissions Needed:</b> BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_type_group Filter for expressions by type group
    # @return [Array<ExpressionResource>]
    def get_bre_expressions(opts = {})
      data, _status_code, _headers = get_bre_expressions_with_http_info(opts)
      return data
    end

    # Get a list of supported expressions to use in conditions or actions.
    # Each resource contains a type and a definition that are read-only, all the other fields must be provided when using the expression in a rule. &lt;br&gt;&lt;br&gt;&lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_type_group Filter for expressions by type group
    # @return [Array<(Array<ExpressionResource>, Fixnum, Hash)>] Array<ExpressionResource> data, response status code and response headers
    def get_bre_expressions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RuleEngineExpressionsApi.get_bre_expressions ..."
      end
      if @api_client.config.client_side_validation && opts[:'filter_type_group'] && !['operation', 'lookup', 'predicate'].include?(opts[:'filter_type_group'])
        fail ArgumentError, 'invalid value for "filter_type_group", must be one of operation, lookup, predicate'
      end
      # resource path
      local_var_path = "/bre/expressions"

      # query parameters
      query_params = {}
      query_params[:'filter_type_group'] = opts[:'filter_type_group'] if !opts[:'filter_type_group'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ExpressionResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuleEngineExpressionsApi#get_bre_expressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the textual representation of an expression
    # <b>Permissions Needed:</b> BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param [Hash] opts the optional parameters
    # @option opts [ExpressionResource] :expression The expression resource to be converted
    # @return [StringWrapper]
    def get_expression_as_text(opts = {})
      data, _status_code, _headers = get_expression_as_text_with_http_info(opts)
      return data
    end

    # Returns the textual representation of an expression
    # &lt;b&gt;Permissions Needed:&lt;/b&gt; BRE_RULE_ENGINE_EXPRESSIONS_USER
    # @param [Hash] opts the optional parameters
    # @option opts [ExpressionResource] :expression The expression resource to be converted
    # @return [Array<(StringWrapper, Fixnum, Hash)>] StringWrapper data, response status code and response headers
    def get_expression_as_text_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RuleEngineExpressionsApi.get_expression_as_text ..."
      end
      # resource path
      local_var_path = "/bre/expressions"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'expression'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StringWrapper')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuleEngineExpressionsApi#get_expression_as_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
