=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class SocialFacebookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Link facebook account
    # Links the current user account to a facebook account, using the acccess token from facebook. Can also be used to update the access token after it has expired.
    # @param [Hash] opts the optional parameters
    # @option opts [FacebookToken] :facebook_token The token from facebook
    # @return [nil]
    def link_accounts(opts = {})
      link_accounts_with_http_info(opts)
      return nil
    end

    # Link facebook account
    # Links the current user account to a facebook account, using the acccess token from facebook. Can also be used to update the access token after it has expired.
    # @param [Hash] opts the optional parameters
    # @option opts [FacebookToken] :facebook_token The token from facebook
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def link_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SocialFacebookApi.link_accounts ..."
      end
      # resource path
      local_var_path = "/social/facebook/users"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'facebook_token'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFacebookApi#link_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
