=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class UsersInventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Adds an item to the user inventory
    # The inventory is fulfilled asynchronously UNLESS the invoice is explicitely skipped. Depending on the use case, it might require the client to verify that the entitlement was added after the fact or configure a BRE rule to get a notification in real time
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UserInventoryAddRequest] :user_inventory_add_request The user inventory add request object
    # @return [InvoiceResource]
    def add_item_to_user_inventory(id, opts = {})
      data, _status_code, _headers = add_item_to_user_inventory_with_http_info(id, opts)
      return data
    end

    # Adds an item to the user inventory
    # The inventory is fulfilled asynchronously UNLESS the invoice is explicitely skipped. Depending on the use case, it might require the client to verify that the entitlement was added after the fact or configure a BRE rule to get a notification in real time
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UserInventoryAddRequest] :user_inventory_add_request The user inventory add request object
    # @return [Array<(InvoiceResource, Fixnum, Hash)>] InvoiceResource data, response status code and response headers
    def add_item_to_user_inventory_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.add_item_to_user_inventory ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.add_item_to_user_inventory"
      end
      # resource path
      local_var_path = "/users/{id}/inventory".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'user_inventory_add_request'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InvoiceResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#add_item_to_user_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check for access to an item without consuming
    # Useful for pre-check and accounts for all various buisness rules
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @return [nil]
    def check_user_entitlement_item(user_id, item_id, opts = {})
      check_user_entitlement_item_with_http_info(user_id, item_id, opts)
      return nil
    end

    # Check for access to an item without consuming
    # Useful for pre-check and accounts for all various buisness rules
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def check_user_entitlement_item_with_http_info(user_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.check_user_entitlement_item ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.check_user_entitlement_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling UsersInventoryApi.check_user_entitlement_item"
      end
      # resource path
      local_var_path = "/users/{user_id}/entitlements/{item_id}/check".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'item_id' + '}', item_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'sku'] = opts[:'sku'] if !opts[:'sku'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#check_user_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an entitlement item
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Whether to cascade group changes, such as in the limited gettable behavior. A 400 error will return otherwise if the group is already in use with different values. (default to false)
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [EntitlementItem]
    def create_entitlement_item(opts = {})
      data, _status_code, _headers = create_entitlement_item_with_http_info(opts)
      return data
    end

    # Create an entitlement item
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Whether to cascade group changes, such as in the limited gettable behavior. A 400 error will return otherwise if the group is already in use with different values.
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [Array<(EntitlementItem, Fixnum, Hash)>] EntitlementItem data, response status code and response headers
    def create_entitlement_item_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.create_entitlement_item ..."
      end
      # resource path
      local_var_path = "/entitlements"

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'entitlement_item'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#create_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an entitlement template
    # Entitlement templates define a type of entitlement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The entitlement template to be created
    # @return [ItemTemplateResource]
    def create_entitlement_template(opts = {})
      data, _status_code, _headers = create_entitlement_template_with_http_info(opts)
      return data
    end

    # Create an entitlement template
    # Entitlement templates define a type of entitlement and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The entitlement template to be created
    # @return [Array<(ItemTemplateResource, Fixnum, Hash)>] ItemTemplateResource data, response status code and response headers
    def create_entitlement_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.create_entitlement_template ..."
      end
      # resource path
      local_var_path = "/entitlements/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#create_entitlement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_entitlement_item(entitlement_id, opts = {})
      delete_entitlement_item_with_http_info(entitlement_id, opts)
      return nil
    end

    # Delete an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_entitlement_item_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.delete_entitlement_item ..."
      end
      # verify the required parameter 'entitlement_id' is set
      if @api_client.config.client_side_validation && entitlement_id.nil?
        fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.delete_entitlement_item"
      end
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#delete_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an entitlement template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_entitlement_template(id, opts = {})
      delete_entitlement_template_with_http_info(id, opts)
      return nil
    end

    # Delete an entitlement template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_entitlement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.delete_entitlement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.delete_entitlement_template"
      end
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#delete_entitlement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [EntitlementItem]
    def get_entitlement_item(entitlement_id, opts = {})
      data, _status_code, _headers = get_entitlement_item_with_http_info(entitlement_id, opts)
      return data
    end

    # Get a single entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementItem, Fixnum, Hash)>] EntitlementItem data, response status code and response headers
    def get_entitlement_item_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_item ..."
      end
      # verify the required parameter 'entitlement_id' is set
      if @api_client.config.client_side_validation && entitlement_id.nil?
        fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.get_entitlement_item"
      end
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search entitlement items
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_template Filter for entitlements using a specified template
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceEntitlementItem]
    def get_entitlement_items(opts = {})
      data, _status_code, _headers = get_entitlement_items_with_http_info(opts)
      return data
    end

    # List and search entitlement items
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_template Filter for entitlements using a specified template
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceEntitlementItem, Fixnum, Hash)>] PageResourceEntitlementItem data, response status code and response headers
    def get_entitlement_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_items ..."
      end
      # resource path
      local_var_path = "/entitlements"

      # query parameters
      query_params = {}
      query_params[:'filter_template'] = opts[:'filter_template'] if !opts[:'filter_template'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceEntitlementItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [ItemTemplateResource]
    def get_entitlement_template(id, opts = {})
      data, _status_code, _headers = get_entitlement_template_with_http_info(id, opts)
      return data
    end

    # Get a single entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemTemplateResource, Fixnum, Hash)>] ItemTemplateResource data, response status code and response headers
    def get_entitlement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_entitlement_template"
      end
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search entitlement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceItemTemplateResource]
    def get_entitlement_templates(opts = {})
      data, _status_code, _headers = get_entitlement_templates_with_http_info(opts)
      return data
    end

    # List and search entitlement templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceItemTemplateResource, Fixnum, Hash)>] PageResourceItemTemplateResource data, response status code and response headers
    def get_entitlement_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_entitlement_templates ..."
      end
      # resource path
      local_var_path = "/entitlements/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_entitlement_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the user inventory entries for a given user
    # 
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_item_id Filter by item id
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [PageResourceUserInventoryResource]
    def get_user_inventories(id, opts = {})
      data, _status_code, _headers = get_user_inventories_with_http_info(id, opts)
      return data
    end

    # List the user inventory entries for a given user
    # 
    # @param id The id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_item_id Filter by item id
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [Array<(PageResourceUserInventoryResource, Fixnum, Hash)>] PageResourceUserInventoryResource data, response status code and response headers
    def get_user_inventories_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_user_inventories ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_user_inventories"
      end
      # resource path
      local_var_path = "/users/{id}/inventory".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'inactive'] = opts[:'inactive'] if !opts[:'inactive'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'filter_item_name'] = opts[:'filter_item_name'] if !opts[:'filter_item_name'].nil?
      query_params[:'filter_item_id'] = opts[:'filter_item_id'] if !opts[:'filter_item_id'].nil?
      query_params[:'filter_username'] = opts[:'filter_username'] if !opts[:'filter_username'].nil?
      query_params[:'filter_group'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'filter_date'] = opts[:'filter_date'] if !opts[:'filter_date'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_user_inventories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @return [UserInventoryResource]
    def get_user_inventory(user_id, id, opts = {})
      data, _status_code, _headers = get_user_inventory_with_http_info(user_id, id, opts)
      return data
    end

    # Get an inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserInventoryResource, Fixnum, Hash)>] UserInventoryResource data, response status code and response headers
    def get_user_inventory_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_user_inventory ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.get_user_inventory"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_user_inventory"
      end
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_user_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the log entries for this inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @return [PageResourceUserItemLogResource]
    def get_user_inventory_log(user_id, id, opts = {})
      data, _status_code, _headers = get_user_inventory_log_with_http_info(user_id, id, opts)
      return data
    end

    # List the log entries for this inventory entry
    # 
    # @param user_id The id of the inventory owner or &#39;me&#39; for the logged in user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @return [Array<(PageResourceUserItemLogResource, Fixnum, Hash)>] PageResourceUserItemLogResource data, response status code and response headers
    def get_user_inventory_log_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_user_inventory_log ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.get_user_inventory_log"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.get_user_inventory_log"
      end
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/log".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserItemLogResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_user_inventory_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the user inventory entries for all users
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories (default to false)
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_item_id Filter by item id
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [PageResourceUserInventoryResource]
    def get_users_inventory(opts = {})
      data, _status_code, _headers = get_users_inventory_with_http_info(opts)
      return data
    end

    # List the user inventory entries for all users
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :inactive If true, accepts inactive user inventories
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :filter_item_name Filter by items whose name starts with a string
    # @option opts [Integer] :filter_item_id Filter by item id
    # @option opts [String] :filter_username Filter by entries owned by the user with the specified username
    # @option opts [String] :filter_group Filter by entries owned by the users in a given group, by unique name
    # @option opts [String] :filter_date A comma separated string without spaces.  First value is the operator to search on, second value is the log start date, a unix timestamp in seconds. Can be repeated for a range, eg: GT,123,LT,456  Allowed operators: (GT, LT, EQ, GOE, LOE).
    # @return [Array<(PageResourceUserInventoryResource, Fixnum, Hash)>] PageResourceUserInventoryResource data, response status code and response headers
    def get_users_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.get_users_inventory ..."
      end
      # resource path
      local_var_path = "/inventories"

      # query parameters
      query_params = {}
      query_params[:'inactive'] = opts[:'inactive'] if !opts[:'inactive'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'filter_item_name'] = opts[:'filter_item_name'] if !opts[:'filter_item_name'].nil?
      query_params[:'filter_item_id'] = opts[:'filter_item_id'] if !opts[:'filter_item_id'].nil?
      query_params[:'filter_username'] = opts[:'filter_username'] if !opts[:'filter_username'].nil?
      query_params[:'filter_group'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'filter_date'] = opts[:'filter_date'] if !opts[:'filter_date'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceUserInventoryResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#get_users_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Grant an entitlement
    # 
    # @param user_id The id of the user to grant the entitlement to
    # @param grant_request grantRequest
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def grant_user_entitlement(user_id, grant_request, opts = {})
      grant_user_entitlement_with_http_info(user_id, grant_request, opts)
      return nil
    end

    # Grant an entitlement
    # 
    # @param user_id The id of the user to grant the entitlement to
    # @param grant_request grantRequest
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def grant_user_entitlement_with_http_info(user_id, grant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.grant_user_entitlement ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.grant_user_entitlement"
      end
      # verify the required parameter 'grant_request' is set
      if @api_client.config.client_side_validation && grant_request.nil?
        fail ArgumentError, "Missing the required parameter 'grant_request' when calling UsersInventoryApi.grant_user_entitlement"
      end
      # resource path
      local_var_path = "/users/{user_id}/entitlements".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(grant_request)
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#grant_user_entitlement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Whether to cascade group changes, such as in the limited gettable behavior. A 400 error will return otherwise if the group is already in use with different values. (default to false)
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [nil]
    def update_entitlement_item(entitlement_id, opts = {})
      update_entitlement_item_with_http_info(entitlement_id, opts)
      return nil
    end

    # Update an entitlement item
    # 
    # @param entitlement_id The id of the entitlement
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Whether to cascade group changes, such as in the limited gettable behavior. A 400 error will return otherwise if the group is already in use with different values.
    # @option opts [EntitlementItem] :entitlement_item The entitlement item object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_entitlement_item_with_http_info(entitlement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_entitlement_item ..."
      end
      # verify the required parameter 'entitlement_id' is set
      if @api_client.config.client_side_validation && entitlement_id.nil?
        fail ArgumentError, "Missing the required parameter 'entitlement_id' when calling UsersInventoryApi.update_entitlement_item"
      end
      # resource path
      local_var_path = "/entitlements/{entitlement_id}".sub('{' + 'entitlement_id' + '}', entitlement_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'entitlement_item'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The updated template
    # @return [ItemTemplateResource]
    def update_entitlement_template(id, opts = {})
      data, _status_code, _headers = update_entitlement_template_with_http_info(id, opts)
      return data
    end

    # Update an entitlement template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [ItemTemplateResource] :template The updated template
    # @return [Array<(ItemTemplateResource, Fixnum, Hash)>] ItemTemplateResource data, response status code and response headers
    def update_entitlement_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_entitlement_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_entitlement_template"
      end
      # resource path
      local_var_path = "/entitlements/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'template'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_entitlement_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the behavior data for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :data The data map
    # @return [nil]
    def update_user_inventory_behavior_data(user_id, id, opts = {})
      update_user_inventory_behavior_data_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the behavior data for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :data The data map
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_behavior_data_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_behavior_data ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_behavior_data"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_behavior_data"
      end
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/behavior-data".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_behavior_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the expiration date
    # Will change the current grace period for a subscription but not the bill date (possibly even ending before having the chance to re-bill)
    # @param user_id user_id
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timestamp The new expiration date as a unix timestamp in seconds. May be null (no body).
    # @return [nil]
    def update_user_inventory_expires(user_id, id, opts = {})
      update_user_inventory_expires_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the expiration date
    # Will change the current grace period for a subscription but not the bill date (possibly even ending before having the chance to re-bill)
    # @param user_id user_id
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timestamp The new expiration date as a unix timestamp in seconds. May be null (no body).
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_expires_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_expires ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_expires"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_expires"
      end
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/expires".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'timestamp'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_expires\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the status for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inventory_status The inventory status object
    # @return [nil]
    def update_user_inventory_status(user_id, id, opts = {})
      update_user_inventory_status_with_http_info(user_id, id, opts)
      return nil
    end

    # Set the status for an inventory entry
    # 
    # @param user_id The id of the user
    # @param id The id of the user inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inventory_status The inventory status object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_user_inventory_status_with_http_info(user_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.update_user_inventory_status ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.update_user_inventory_status"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersInventoryApi.update_user_inventory_status"
      end
      # resource path
      local_var_path = "/users/{user_id}/inventory/{id}/status".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'inventory_status'])
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#update_user_inventory_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Use an item
    # 
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement_list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @option opts [String] :info Any additional info to add to the log about this use
    # @return [nil]
    def use_user_entitlement_item(user_id, item_id, opts = {})
      use_user_entitlement_item_with_http_info(user_id, item_id, opts)
      return nil
    end

    # Use an item
    # 
    # @param user_id The id of the user to check for or &#39;me&#39; for logged in user
    # @param item_id The id of the item
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sku The specific sku of an entitlement_list addition to check entitlement for. This is of very limited and specific use and should generally be left out
    # @option opts [String] :info Any additional info to add to the log about this use
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def use_user_entitlement_item_with_http_info(user_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersInventoryApi.use_user_entitlement_item ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersInventoryApi.use_user_entitlement_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling UsersInventoryApi.use_user_entitlement_item"
      end
      # resource path
      local_var_path = "/users/{user_id}/entitlements/{item_id}/use".sub('{' + 'user_id' + '}', user_id.to_s).sub('{' + 'item_id' + '}', item_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'sku'] = opts[:'sku'] if !opts[:'sku'].nil?
      query_params[:'info'] = opts[:'info'] if !opts[:'info'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2_client_credentials_grant', 'oauth2_password_grant']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersInventoryApi#use_user_entitlement_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
