=begin
#Knetik Platform API Documentation latest 

#This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

OpenAPI spec version: latest 
Contact: support@knetik.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module KnetikCloudClient
  class UsersGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Adds a new member to the group
    # 
    # @param unique_name The group unique name
    # @param user The id and status for a user to add to the group
    # @param [Hash] opts the optional parameters
    # @return [GroupMemberResource]
    def add_member_to_group(unique_name, user, opts = {})
      data, _status_code, _headers = add_member_to_group_with_http_info(unique_name, user, opts)
      return data
    end

    # Adds a new member to the group
    # 
    # @param unique_name The group unique name
    # @param user The id and status for a user to add to the group
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupMemberResource, Fixnum, Hash)>] GroupMemberResource data, response status code and response headers
    def add_member_to_group_with_http_info(unique_name, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.add_member_to_group ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.add_member_to_group"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling UsersGroupsApi.add_member_to_group"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(user)
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GroupMemberResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#add_member_to_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds multiple members to the group
    # 
    # @param unique_name The group unique name
    # @param users The id and status for a list of users to add to the group
    # @param [Hash] opts the optional parameters
    # @return [Array<GroupMemberResource>]
    def add_members_to_group(unique_name, users, opts = {})
      data, _status_code, _headers = add_members_to_group_with_http_info(unique_name, users, opts)
      return data
    end

    # Adds multiple members to the group
    # 
    # @param unique_name The group unique name
    # @param users The id and status for a list of users to add to the group
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<GroupMemberResource>, Fixnum, Hash)>] Array<GroupMemberResource> data, response status code and response headers
    def add_members_to_group_with_http_info(unique_name, users, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.add_members_to_group ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.add_members_to_group"
      end
      # verify the required parameter 'users' is set
      if @api_client.config.client_side_validation && users.nil?
        fail ArgumentError, "Missing the required parameter 'users' when calling UsersGroupsApi.add_members_to_group"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members/batch-add".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(users)
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<GroupMemberResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#add_members_to_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a group
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [GroupResource] :group_resource The new group
    # @return [GroupResource]
    def create_group(opts = {})
      data, _status_code, _headers = create_group_with_http_info(opts)
      return data
    end

    # Create a group
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [GroupResource] :group_resource The new group
    # @return [Array<(GroupResource, Fixnum, Hash)>] GroupResource data, response status code and response headers
    def create_group_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.create_group ..."
      end
      # resource path
      local_var_path = "/users/groups"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'group_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#create_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a group template
    # Group Templates define a type of group and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :group_template_resource The group template resource object
    # @return [TemplateResource]
    def create_group_template(opts = {})
      data, _status_code, _headers = create_group_template_with_http_info(opts)
      return data
    end

    # Create a group template
    # Group Templates define a type of group and the properties they have
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :group_template_resource The group template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def create_group_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.create_group_template ..."
      end
      # resource path
      local_var_path = "/users/groups/templates"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'group_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#create_group_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes a group from the system IF no resources are attached to it
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group(unique_name, opts = {})
      delete_group_with_http_info(unique_name, opts)
      return nil
    end

    # Removes a group from the system IF no resources are attached to it
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_with_http_info(unique_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.delete_group ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.delete_group"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#delete_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a group template
    # If cascade = 'detach', it will force delete the template even if it's attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [nil]
    def delete_group_template(id, opts = {})
      delete_group_template_with_http_info(id, opts)
      return nil
    end

    # Delete a group template
    # If cascade &#x3D; &#39;detach&#39;, it will force delete the template even if it&#39;s attached to other objects
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cascade The value needed to delete used templates
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.delete_group_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersGroupsApi.delete_group_template"
      end
      # resource path
      local_var_path = "/users/groups/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#delete_group_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Loads a specific group's details
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @return [GroupResource]
    def get_group(unique_name, opts = {})
      data, _status_code, _headers = get_group_with_http_info(unique_name, opts)
      return data
    end

    # Loads a specific group&#39;s details
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupResource, Fixnum, Hash)>] GroupResource data, response status code and response headers
    def get_group_with_http_info(unique_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_group ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.get_group"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user from a group
    # 
    # @param unique_name The group unique name
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [GroupMemberResource]
    def get_group_member(unique_name, user_id, opts = {})
      data, _status_code, _headers = get_group_member_with_http_info(unique_name, user_id, opts)
      return data
    end

    # Get a user from a group
    # 
    # @param unique_name The group unique name
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupMemberResource, Fixnum, Hash)>] GroupMemberResource data, response status code and response headers
    def get_group_member_with_http_info(unique_name, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_group_member ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.get_group_member"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersGroupsApi.get_group_member"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members/{user_id}".sub('{' + 'unique_name' + '}', unique_name.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GroupMemberResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_group_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists members of the group
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceGroupMemberResource]
    def get_group_members(unique_name, opts = {})
      data, _status_code, _headers = get_group_members_with_http_info(unique_name, opts)
      return data
    end

    # Lists members of the group
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceGroupMemberResource, Fixnum, Hash)>] PageResourceGroupMemberResource data, response status code and response headers
    def get_group_members_with_http_info(unique_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_group_members ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.get_group_members"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceGroupMemberResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_group_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single group template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [TemplateResource]
    def get_group_template(id, opts = {})
      data, _status_code, _headers = get_group_template_with_http_info(id, opts)
      return data
    end

    # Get a single group template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def get_group_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_group_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersGroupsApi.get_group_template"
      end
      # resource path
      local_var_path = "/users/groups/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_group_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search group templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order a comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to id:ASC)
    # @return [PageResourceTemplateResource]
    def get_group_templates(opts = {})
      data, _status_code, _headers = get_group_templates_with_http_info(opts)
      return data
    end

    # List and search group templates
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order a comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceTemplateResource, Fixnum, Hash)>] PageResourceTemplateResource data, response status code and response headers
    def get_group_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_group_templates ..."
      end
      # resource path
      local_var_path = "/users/groups/templates"

      # query parameters
      query_params = {}
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceTemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_group_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List groups a user is in
    # 
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_groups_for_user(user_id, opts = {})
      data, _status_code, _headers = get_groups_for_user_with_http_info(user_id, opts)
      return data
    end

    # List groups a user is in
    # 
    # @param user_id The id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_groups_for_user_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.get_groups_for_user ..."
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersGroupsApi.get_groups_for_user"
      end
      # resource path
      local_var_path = "/users/{user_id}/groups".sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#get_groups_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes a user from a group
    # 
    # @param unique_name The group unique name
    # @param user_id The id of the user to remove
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_group_member(unique_name, user_id, opts = {})
      remove_group_member_with_http_info(unique_name, user_id, opts)
      return nil
    end

    # Removes a user from a group
    # 
    # @param unique_name The group unique name
    # @param user_id The id of the user to remove
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def remove_group_member_with_http_info(unique_name, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.remove_group_member ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.remove_group_member"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersGroupsApi.remove_group_member"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members/{user_id}".sub('{' + 'unique_name' + '}', unique_name.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#remove_group_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a group
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @option opts [GroupResource] :group_resource The updated group
    # @return [nil]
    def update_group(unique_name, opts = {})
      update_group_with_http_info(unique_name, opts)
      return nil
    end

    # Update a group
    # 
    # @param unique_name The group unique name
    # @param [Hash] opts the optional parameters
    # @option opts [GroupResource] :group_resource The updated group
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_group_with_http_info(unique_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.update_group ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.update_group"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}".sub('{' + 'unique_name' + '}', unique_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'group_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#update_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a user's status
    # 
    # @param unique_name The group unique name
    # @param user_id The user id of the member to modify
    # @param status The new status for the user
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_group_member_status(unique_name, user_id, status, opts = {})
      update_group_member_status_with_http_info(unique_name, user_id, status, opts)
      return nil
    end

    # Change a user&#39;s status
    # 
    # @param unique_name The group unique name
    # @param user_id The user id of the member to modify
    # @param status The new status for the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_group_member_status_with_http_info(unique_name, user_id, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.update_group_member_status ..."
      end
      # verify the required parameter 'unique_name' is set
      if @api_client.config.client_side_validation && unique_name.nil?
        fail ArgumentError, "Missing the required parameter 'unique_name' when calling UsersGroupsApi.update_group_member_status"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersGroupsApi.update_group_member_status"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling UsersGroupsApi.update_group_member_status"
      end
      # resource path
      local_var_path = "/users/groups/{unique_name}/members/{user_id}/status".sub('{' + 'unique_name' + '}', unique_name.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(status)
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#update_group_member_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a group template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :group_template_resource The group template resource object
    # @return [TemplateResource]
    def update_group_template(id, opts = {})
      data, _status_code, _headers = update_group_template_with_http_info(id, opts)
      return data
    end

    # Update a group template
    # 
    # @param id The id of the template
    # @param [Hash] opts the optional parameters
    # @option opts [TemplateResource] :group_template_resource The group template resource object
    # @return [Array<(TemplateResource, Fixnum, Hash)>] TemplateResource data, response status code and response headers
    def update_group_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.update_group_template ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersGroupsApi.update_group_template"
      end
      # resource path
      local_var_path = "/users/groups/templates/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'group_template_resource'])
      auth_names = ['OAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TemplateResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#update_group_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and search groups
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_template Filter for groups using a specific template, by id
    # @option opts [String] :filter_member_count Filters groups by member count. Multiple values possible for range search. Format: filter_member_count&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ). Ex: filter_member_count&#x3D;GT,14,LT,17
    # @option opts [String] :filter_name Filter for groups with names starting with the given string
    # @option opts [String] :filter_unique_name Filter for groups whose unique_name starts with provided string
    # @option opts [String] :filter_parent Filter for groups with a specific parent, by unique name
    # @option opts [String] :filter_status Filter for groups with a certain status
    # @option opts [Integer] :size The number of objects returned per page (default to 25)
    # @option opts [Integer] :page The number of the page returned, starting with 1 (default to 1)
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (default to name:ASC)
    # @return [PageResourceGroupResource]
    def update_groups(opts = {})
      data, _status_code, _headers = update_groups_with_http_info(opts)
      return data
    end

    # List and search groups
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_template Filter for groups using a specific template, by id
    # @option opts [String] :filter_member_count Filters groups by member count. Multiple values possible for range search. Format: filter_member_count&#x3D;OP,ts&amp;... where OP in (GT, LT, GOE, LOE, EQ). Ex: filter_member_count&#x3D;GT,14,LT,17
    # @option opts [String] :filter_name Filter for groups with names starting with the given string
    # @option opts [String] :filter_unique_name Filter for groups whose unique_name starts with provided string
    # @option opts [String] :filter_parent Filter for groups with a specific parent, by unique name
    # @option opts [String] :filter_status Filter for groups with a certain status
    # @option opts [Integer] :size The number of objects returned per page
    # @option opts [Integer] :page The number of the page returned, starting with 1
    # @option opts [String] :order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC]
    # @return [Array<(PageResourceGroupResource, Fixnum, Hash)>] PageResourceGroupResource data, response status code and response headers
    def update_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UsersGroupsApi.update_groups ..."
      end
      if @api_client.config.client_side_validation && opts[:'filter_status'] && !['open', 'closed'].include?(opts[:'filter_status'])
        fail ArgumentError, 'invalid value for "filter_status", must be one of open, closed'
      end
      # resource path
      local_var_path = "/users/groups"

      # query parameters
      query_params = {}
      query_params[:'filter_template'] = opts[:'filter_template'] if !opts[:'filter_template'].nil?
      query_params[:'filter_member_count'] = opts[:'filter_member_count'] if !opts[:'filter_member_count'].nil?
      query_params[:'filter_name'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter_unique_name'] = opts[:'filter_unique_name'] if !opts[:'filter_unique_name'].nil?
      query_params[:'filter_parent'] = opts[:'filter_parent'] if !opts[:'filter_parent'].nil?
      query_params[:'filter_status'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageResourceGroupResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersGroupsApi#update_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
